%h1 Te Koop

%h3 HY Projecten
Bij de meest van onze projecten werken we aan een HY van een klant die
%b HY's mooi
vraagt om zijn of haar bus te reviseren.
Soms echter lopen wij tegen een interessante HY aan die we geschikt achten om later in opdracht van een klant te reviseren.
Dus ook als u nog geen HY heeft, kunt u bij ons terecht. Het werkt dan als volgt:
%li U koopt van ons de basiswagen tegen een redelijke dagwaarde;
%li Vervolgens geeft u aan op welke wijze u deze wagen gereviseerd wil hebben;
%li Als dat rond is, gaan we met uw HY aan de slag. 
Het actuele aanbod van ongereviseerde HY's vind u hiernaast

%p
%h3 Onderdelen
%b HY's mooi
heeft ook een beperkt assortiment HY onderdelen op voorraad..
Het gaat dan om onderdelen die wij zelf voor de revisie hebben ingekocht of speciaal voor de HY  hebben laten maken:
%li Verwarmingsslang Ø 50
%li Golfplaat HY 821
%li Golfplaat 821 zonder Omega
%li Reparatieplaat 90 x 100 

%p
%h3 Gereviseerde delen
Voor diegene die zelf redelijk kunnen sleutelen, maar niet de apparatuur of kennis hebben om onderdelen te reviseren, heeft
%b HY's mooi
de mogelijkheid gereviseerde delen te kopen.
De werkwijze is dan:
%li U demonteert zelf het betreffende onderdeel;
%li U brengt dit deel bij ons langs en we bespreken hoe we dit reviseren;
%li Als we het onderdeel gereviseerd hebben komt u het ophalen en monteert het zelf weer op uw HY.

%p
De delen waar dit voor mogelijk is zijn:
%li Motor en versnellingsbak
%li Kop
%li Radiateur en waterpomp
%li Startmotor en dynamo
%li Voorste en achterste remtrommel met remsysteem
%li Compleet paard