.left.button
	%a{:href => "/projects/#{@diesel.id}"}
		.button1.button_text
			Revisie van een HY diesel met veel gebruiksporen.

.right.button
	%a{:href => "/projects/#{@paardenwagen_2.id}"}
		.button2.button_text
			Totale gereviseerde HY paardenwagen.

.left.button
	%a{:href => "/projects/#{@pick_up.id}"}
		.button3.button_text
			Orginele HY pick-up.