%h1
	Moderne oplossingen

%ul
	%a{ :href => '#clutch' }
		%li Moderne koppeling.
	%a{ :href => '#ignitor' }
		%li Elektronische ontsteking.
	%a{ :href => '#brake_booster' }
		%li Rembekrachtiger.
	%a{ :href => '#power_steering' }
		%li Stuurbekrachtiger.
	%a{ :href => '#wheels_and_tires' }
		%li Moderne banden en wielen.
	%a{ :href => '#disk_breaks' }
		%li Schijfremmen.

%h2#clutch
	Moderne koppeling.

%p
	Bij iedere wagen zit in de koppeling een zogenaamd druklager. Dit druklager gebruik je iedere keer als je je koppelingspedaal indrukt.

%p<
	Bij moderne wagens is dit druklager een normaal&nbsp;
	%u> kogel
	lager, maar bij de HY niet. Citroen heeft dat druklager uitgevoerd met een koolstofring die iedere keer een heel klein beetje slijt als je je koppeling indrukt. Vandaar dat het bij een HY onverstandig is voor een rood stoplicht te wachten met de koppeling ingedrukt. Dit probleem hebben wij opgelost door een apart hulpstuk in te bouwen, waardoor je toch een normaal kogellager kunt toepassen. Zo'n&nbsp;
	%u> kogel
	lager slijt niet en voorkomt dure reparaties.

%a{:href => '#'}
	.up
		Terug naar boven

%h2#ignitor
	Elektronische ontsteking.

%p<
	Niet zelden zijn zogenaamde "motor"storingen niet het gevolg van een probleem met de motor, maar is er eigenlijk een probleem met een van de motor
	%u> systemen.
	&nbsp;Zo kan er een probleem zijn met de benzine , de luchttoevoer of de ontsteking

%p
	Met name die ontstekingsproblemen kunnen goed worden opgelost [of voorkomen] door het inbouwen van een passende elektronische ontstekingsunit. Wij gebruiken daarvoor de bekende 133-ontsteling van de firma 123-ignition
	%a{:href => 'http://www.123ignition.nl'} www.123ignition.nl.
	De motor start beter, loopt soepeler en verbruikt minder brandstof. Een opmerking daarbij: het inbouwen van zo'n elektronische ontsteking heeft alleen nut als de distributieketting nog goed is. Let daar op.

%a{:href => '#'}
	.up
		Terug naar boven

%h2#brake_booster
	Rembekrachtiger.

%p
	Het remsysteem van de HY is traditioneel en robuust. Op alle 4 de wielen zitten remtrommels met relatief grote remschoenen. Als alles goed is afgesteld is het totale remvermogen van de HY ruim voldoende, ook als de wagen beladen is. Maar omdat de HY geen rembekrachtiger heeft, moet je voor het verkrijgen van dat maximale remvermogen wel flink op het rempedaal trappen, en dat zijn we niet meer gewend.

%p
	Dus kunnen wij voor u een speciale rembekrachtiger inbouwen die hetzelfde remvermogen geeft bij een veel minder pedaaldruk. 

%p
	Let wel: Zo'n rembekrachtiger lost weliswaar het probleem van de pedaaldruk op, maar dat werkt alleen als het remsysteem zelf goed functioneert.  Een slecht afgesteld remsysteem verhelp je niet met een rembekrachtiger.

%a{:href => '#'}
	.up
		Terug naar boven

%h2#power_steering
	Stuurbekrachtiger.

%p
	De HY stuurt behoorlijk nauwkeurig en direct en de stuuras onder de wagen is zeer betrouwbaar. Maar, omdat Citroen het busje goedkoop wilde houden, is er geen stuurbekrachtiger toegepast. Tijdens het rijden is dit geen probleem, maar bij het insteken of in een bochtige binnenstad, moet je soms flink aan je stuur trekken.

%p
	Sinds een paar jaar is er speciaal voor de HY een stuurbekrachtiging systeem op de markt dat prima werkt. Wij kunnen dat systeem voor u inbouwen.

%a{:href => '#'}
	.up
		Terug naar boven

%h2#wheels_and_tires
	Moderne banden en wielen.

%p
	Als u van een afstandje langs een HY loopt, valt het niet op dat er eigenlijk heel speciale banden. Die speciale banden [en velgen!] zijn een typisch kenmerk van Citroën, wat ook op andere citroen types werd toegepast. Het bijzondere is niet zozeer de vorm van de band als wel de
	%u binnendiameter
	van de band [wat weer overeenkomt met de
	%u buitendiameter
	van de velg]. Zo is de binnendiameter van een HY-band 400 millimeter en dat is tegenwoordig een ongebruikelijk en slecht te verkrijgen bandenmaat. Om dat probleem op te lossen zijn er "moderne" 16 inches velgen gemaakt die er het zelfde uit zien als de originele 400 mm velgen. En op deze 16 inches velgen passen wel normale en relatief goedkope 16 inches banden. Het ombouwen van 400 mm naar 16 inches is daarmee ineens geen probleem meer.

%a{:href => '#'}
	.up
		Terug naar boven

%h2#disk_breaks
	Schijfremmen.

%p
	Voor die klanten die echt liever schijfremmen op hun HY willen hebben, is er nu een goede oplossing, waarbij de spoorbreedte van de HY gelijk blijft. Het systeem bestaat uit een nieuwe rembekrachtiger en nieuwe schijven, gecombineerd met aangepaste aandrijfassen en wiellagering. De achterremmen blijven hun trommels behouden. Uiteindelijk ziet het er prachtig uit en het remt prima!

%a{:href => '#'}
	.up
		Terug naar boven


