%h1 Voor Particulieren

%h3 HY is herontdekt
Sinds de jaren 70-80 is de Citroën HY een populaire bus voor particulieren vanwege de grote ruimte achterin. Veel busjes werden ingericht als camper en de eigenaren trokken er jarenlang mee door binnen- en buitenland. Een flink aantal van deze oorspronkelijke eigenaren zijn inmiddels op leeftijd, waarbij hun HY na al die jaren op veel punten last heeft van achterstallig onderhoud.
De laatste 10 jaar is de populariteit onder Citroën HY echter stijgende en steeds meer jonge mensen vinden de HY een mooie bus.
Ze speuren stad en land [en internet] af naar mooie bussen en schromen ook niet er een uit Duitsland of Frankrijk te importeren.
Als de bus dan voor de deur staat, blijken er toch wel een "paar puntjes "niet helemaal in orde. 

%h3 Geheel of gedeeltelijke revisie
En daarbij kan
%b#company_name HY's mooi
u van dienst zijn.
Bij ons kunt u uw HY geheel of gedeeltelijk laten reviseren.
Bij een gehele revisie halen we de hele bus uit elkaar, laten alles stralen en vernieuwen of reviseren we alle onderdelen.
Maar u kunt bij ons ook terecht wanneer u slecht één of meerdere subsystemen wilt laten reviseren, bijvoorbeeld:
%li Remmenrevisie
%li Ontstekingsrevisie
%li Revisie van het start/laadsysteem
%li Revisie van het koelsysteem
Een complete lijst met te reviseren delen vindt u hier. 
Bij deze deelrevisies inspecteren/demonteren we alle onderdelen van dit systeem en vervangen of reviseren we dat wat nodig is.
In feite halen we in één keer al het achterstallig onderhoud uit het systeem waardoor dat systeem de oorspronkelijke bedrijfszekerheid weer teug krijgt.
Voor een aantal systemen kunnen we ook een modernisering toepassen, zoals:
%li Aanbrengen rembekrachtiger
%li Plaatsten elektronische 123-ontsteking

%h3 Plaatwerk
Naast het reviseren van de technische delen van uw HY, kunnen we ook het plaatwerk aanpakken.
De mogelijkheden en kosten daarvan zijn erg afhankelijk van de staat waarin uw HY verkeert.
Onze ervaring is echter dat het altijd tegenvalt:
%li Vaak blijkt dat na het verwijderen van de slechte delen, ook de onderliggende delen gecorrodeerd zijn;
%li Van sommige HY plaatdelen zijn [nog] geen goede, nieuwe plaatdelen beschikbaar, waardoor reparatie veel handwerk vergt, wat erg kostbaar is.

%h3 Geen garage
Regelmatig wordt ons gevraagd of we aan een HY-bus een kleine reparatie willen plegen. De APK is daarbij vaak de aanleiding voor de vraag.
Echter, hoe graag we een HY-rijder ook zouden willen helpen, dit soort garagewerkzaamheden doen we niet. 
De kern is dat alle HY's achterstallig onderhoud hebben en een ogenschijnlijk klein probleem vaak slechts de eerste indicatie is van een achterliggend, veel groter probleem.
Zo kan het wisselen van een lekkende hoofdremcilinder gemakkelijk ontaarden in het compleet vervangen van diverse remleidingen omdat bij het losdraaien van de wartels ineens de remleidingen breken.  Dit sleutelen aan onderdelen waarvan de technische levensduur al lang verstreken is, blijft in onze ogen lapwerk en dat is nou juist niet onze stijl van werken.

%p Hiernaast een aantal sprekende voorbeelden van HY's die we de afgelopen jaren geheel of gedeeltelijk hebben gereviseerd.

