.background_container
	.background
	.midground
	.foreground
	
	.story
		.itronaut.box
			%p
				%a{:href => 'mailto:info@itronaut.com'}
					%img{:src => '/assets/colophon/itronaut.png'}
			%p
				%br
				%br
				%br
				Deze website is ontworpen en gemaakt door
				%span#itronaut itronaut
				%br
				%span#update
					Laatste update:
					November 2012
		
		%hr
		
		.support.box
			%h3 Browser
			%p
				Om deze website optimaal te gebruiken, heeft u een van de volgende browsers nodig:
				%table#browsers
					%tr
						%th Browser:
						%th Vanaf versie:
					%tr
						%td Internet Explorer
						%td 7
					%tr
						%td Firefox
						%td 5
					%tr
						%td Chrome
						%td 4
					%tr
						%td Safari
						%td 3
					%tr
						%td Opera
						%td 10
				#browser_version
		
		.rails.box
			%h3 Software
			%p
				%li
					Deze site is opgezet met
					%a{:href => 'http://www.ruby-lang.org/', :target => '_blank'}<
						ruby
					met het framework
					%a{:href => 'http://rubyonrails.org/', :target => '_blank'}<
						ruby on rails
					%a{:href => 'http://rubyonrails.org/', :target => '_blank'}
						%img{:src => '/assets/colophon/ruby.png'}
			
			.fancybox
				%p
					%li
						Voor de fotogallerij werd gebruik gemaakt van
						%a{:href => 'http://fancybox.net/', :target => '_blank'}
							fancybox
		
			%p
				%li
					Op- of aanmerkingen over de site, kunt u mailen naar:
					%a{:href => 'mailto:webmaster@hysmooi.nl'}webmaster@hysmooi.nl
		
		%hr
		
		.company_story.box
			%h3
				%span#itronaut Itronaut
			
			%p
				%span#itronaut itronaut
				is een jong IT bedrijf, opgericht door een student aan de TU Delft van de Faculteit Technische Informatica.
				De missie van
				%span#itronaut itronaut
				is het optimaliseren van interne bedrijfsprocessen of externe klantencontacten, door gebruik te maken van de mogelijkheden die internet en automatisering tegenwoordig bieden.
				%br
				Voor meer informatie of vragen kunt u ons bereiken op:
				%a{:href => 'mailto:info@itronaut.com'}
					info@itronaut.com
