.background_container
	.background
	.midground
	.foreground
	
	.story
		%p
			%img{:src => '/assets/colophon/itronaut.png'}
		%p
			This website has been brought to you by
			%span#itronaut itronaut
			%br
			For more information, you can reach us at:
			%a{:href => 'info@itronaut.com'}info@itronaut.com