%p
	%h1 Menno van Heijningen
	%span#right_outline
		Eerste monteur
		%br
		Product ontwikkeling

%p
	Van jongs af aan zit ik al in de techniek. In mijn tienertijd waren dat de crossbrommertjes en eigen auto's waar ik -natuurlijk- zelf aan sleutelde. Na mijn technische opleiding rolde ik in de landbouw waar ik mijn kennis goed kon gebruiken voor het repareren van tractoren, combines en draglines. Want als zo'n zware machine er op een open veld in eens mee op houdt, kun je niet even de wegenwacht bellen. Het Citroën-virus kreeg mij te pakken toen ik een Dyane kocht, inmiddels heb ik er 5. De stap naar de HY kon ik zetten toen ik 4 jaar geleden Ben ontmoette. Het besluit om te gaan werken bij
	%span#company_name HY's mooi
	was een kleine stap. Ondanks mijn technische achtergrond stond ik het eerste jaar toch nog regelmatig versteld van de vernuftige oplossingen die meneer Citroën reeds in 1950 voor sommige problemen heeft bedacht. Zo heeft het opnieuw laten produceren van het kraalscharnier mij al heel wat hoofdbrekens gekost, maar als het goed is, hebben we dit "wiel" binnenkort weer opnieuw voor de HY uitgevonden. Naast deze technische aspecten is er nog een punt wat me bij
	%span#company_name HY's mooi
	erg aanspreekt en dat is het streven naar kwaliteit en originaliteit. Bij het repareren of modificeren van een HY proberen we zoveel mogelijk gebruik te maken van originele of origineel nagemaakte materialen, waarmee het unieke karakter van deze wagen behouden blijft.