%p
	%h1 Ben Boortman
	%span#right_outline
		Directeur
		%br
		HY specialist

%p
	Reeds op de HTS werktuigbouwkunde was een van mijn favorieten het vak: " Motoren". Fasinerend om te zien hoe je met eenvoudige componenten als een paar zuigers en een krukas een vernuftig apparaat kunt bouwen waarmee je moeiteloos een auto kunt voortbewegen.
	%br
	Na enkele jaren vooral hobbymatig gesleuteld te hebben, besloot ik in 2000 het 
	%span#underline vakmatig
	aan te pakken. Inmiddels was Citroën mijn merk geworden, mede door de mooie HY-camper die ik al een paar jaar had.
	%br
	Nu, ruim 10 jaar later sleutel ik dagelijk met veel plezier aan deze wagens, waarbij ik nog regelmatig versteld sta van het technishe vernuft van  50 jaar geleden.
	%br
	Mijn passie blijft het moment waarop een trotse klant met een mooie HY bij mij de straat uit rijdt, en ik denk: 
	%span#company_name HY's mooi
	!!
	