%h1 Wat is HY's mooi ?

%p
	%span#company_name HY's mooi
	is een revisiebedrijf dat met een flink stuk liefde en professionaliteit Citroëns van het type "H" weer bedrijfszeker maakt. We zijn gestart met dit bedrijf toen we in 2001 niemand konden vinden die onze HY echt netjes kon reviseren. Dit bleek een succesformule.
	%span#company_name HY's mooi
	is geen garage waar u uw HY naar toe kunt brengen als er iets gerepareerd moet worden, nee, bij ons kunt u terecht als u uw HY weer "als nieuw" wilt hebben. Wij demonteren uw HY (of een deel daarvan); kijken alles na en repareren of vervangen de noodzakelijke onderdelen. Zo'n gehele of gedeeltelijk revisie neemt al gauw een paar weken in beslag, maar dan roept iedereen ook: wat is HY mooi!!

%p
	Een belangrijk uitgangspunt in ons bedrijf is "werken op maat", omdat iedere bus anders is en iedere HY-eigenaar een ander idee heeft van de ideale revisie. Zolang wij er achter kunnen staan is bij ons veel mogelijk. Graag nodigen wij u uit om op onze site een indruk op te doen van dat tijdloze ontwerp van de heer Citroën.


%a.button{:href => '/promotion/index'}
	%b
		Let op!
	%br
	Nu ook auto's te huur.
	%br
	Klik hier voor meer informatie.

Ben Boortman,
%br
Menno van Heijningen