%h1 Wat is HY's mooi ?

%p
	%span#company_name HY's mooi
	is een revisiebedrijf dat met een flink stuk liefde en professionaliteit Citroëns van het type "H" weer bedrijfszeker maakt. We zijn gestart met dit bedrijf toen we in 2001 niemand konden vinden die onze HY echt netjes kon reviseren. Dit bleek een succesformule. Bij ons kunt u terecht als u uw HY weer "als nieuw" wilt hebben. Wij demonteren uw HY (of een deel daarvan); kijken alles na en repareren of vervangen de noodzakelijke onderdelen.

%p
	%b Onderhoud
	%br
	Sinds 2011 kunt u ook bij ons terecht voor de grotere en meer complexe onderhoudsklussen aan uw HY.  Wij zijn hiermee begonnen omdat het voor HY eigenaren steeds lastiger wordt een goede garage te vinden die nog aan  de HY kan [of wil] sleutelen. Voor ons is onderhoud eigenlijk een gedeeltelijke revisie, waarbij wij in nauw overleg met u bepalen wat we wel aanpakken en wat we nog even laten zitten. En dat overleg is wel nodig, omdat we vooraf nooit helemaal kunnen voorzien hoe uw HY de afgelopen decennia heeft doorstaan.

%p
	%a{:href => '/ben/index'}
		%b
			Ben Boortman,
	%br
	%a{:href => '/menno/index'}
		%b
			Menno van Heijningen

%p
	%a.button.left{:href => '/about_us/index#maintenance'}
		%span
			%b
				Nieuw [4]
			%br
			Onderhoud aand uw HY
/
	%a.button.right{:href => '/promotion/index'}
		%b
			Nieuw [3]
		%br
		De HY verkoopwagen;
		%br
		de HV