%h2 HY in de 21ste eeuw

%p
	De eerste ontwerpschetsen van de HY zijn al gemaakt in 1942. Voor die tijd was dit vrachtwagentje uitermate innovatief en zeer doordacht. Inmiddels leven we in de 21ste eeuw en stellen we andere eisen aan auto's. Zo zit op iedere nieuwe bedrijfswagen stuur- en rembekrachtiging en vinden we de milieubelasting een belangrijk item.

%p
	En dus krijgen wij steeds meer klanten die een klassieke HY willen met het karakteristieke uiterlijk van een HY, maar dan liefs met moderne technologie. Voor deze klanten hebben we een aantal vernieuwingen ontwikkeld die de klassieke HY weer helemaal geschikt maken voor de 21ste eeuw. Zo kunt u bij ons een elektrische HY (de HE) kopen of een HY-verkoopwagen als getrokken versie ; de HV. En wilt u geen moderne HY, maar zoekt u wel naar een eigentijdse oplossing voor oude  probleem  zoals bijv. de kwetsbare koppeling of mechanische ontsteking- dan kunnen wij u ook helpen. U bent van harte welkom.
