.front
	
	.story
		= render "homepage_story"

.company_offers
	
	.marketing.offer
		= render "marketing"
		
	.total_revision.offer
		= render "total_revision"
		
	.partial_revision.offer
		= render "partial_revision"