.front
	
	.story
		= render "homepage_story"

.company_offers
	
	<a class="marketing offer" href="/marketing/index">
	= render "marketing"
	</a>
	
	<a class="total_revision offer" href="/total_revision/index">
	= render "total_revision"
	</a>
	
	<a class="partial_revision offer" href="/partial_revision/index">
	= render "partial_revision"
	</a>