.front
	
	.story
		= render 'homepage_story'

.company_offers
	
	%a.companies.offer{:href => '/companies/index'}
		= render 'companies'

	%a.consumers.offer{:href => '/consumers/index'}
		= render 'consumers'

	%a.for_sale.offer{:href => '/for_sale/index'}
		= render 'for_sale'