%h1
	Citroën H-Elektrisch: HV.

%ul
	%a{ :href => '#he' }
		%li De HE
	%a{ :href => '#hv' }
		%li De HV
	%a{ :href => '#h-plus' }
		%li De H+
	

%h2#he De HE
%p
	Een persbericht van medio 2013: AUTOPRIMEUR: ELEKTRISCHE CITROËN HY IN ONTWIKKELING!

%p
	Een uitkomst voor marktkooplui en evenementenbedrijven: een karakteristieke én ‘schone’ bedrijfswagen; de elektrische HY bus. Deze elektrische HY past in het beeld van elke historische binnenstad en kan daar nu ook komen als er een milieuzone is ingesteld.

%p
	HY’s mooi, een revisiebedrijf dat met een flink stuk liefde en professionaliteit Citroëns van het type "H" weer bedrijfszeker maakt, ontwikkelt samen met de andere partners van Traction Électrique een elektrische HY. Op 6 april 2013, de datum waarop middels diverse lokale initiatieven de REI 2013 gestalte krijgt, zal HY’s mooi tussen 10:00 en 14:00 uur de deuren openen en het prototype HY showen. Ook zijn er twee elektrische 2CV’s waarin u een stukje kunt rijden.

%p
	De HY-bus van Citroën is misschien wel de meest iconische bestelbus uit de automobielhistorie. Maar wat gebeurt er in de 21e eeuw? Verhuizen de golfplaten naar het museum, of vinden we een geheel nieuwe manier om van dit wonder van praktische bruikbaarheid en stijl te genieten?  Met elektrische aandrijving is er opeens geen sprake meer van verouderde techniek. Het onderhoud wordt beperkt tot het controleren van de remvoeringen en verversen van de versnellingsbakolie. En verder: Rijden! 5 euro voor 100 kilometer elektriciteit. Geen stank, geen olievlekken op de stoep, geen lawaai. Wat wil een moderne ondernemer nog meer?
	 

%a{:href => '#'}
	.up
		Terug naar boven

%p
	%h2#hv
		De HV

%p
	%h3
		De HY als verkoopwagen
	De laatste jaren is de populariteit van de Citroen HY als verkoopwagen sterk in opkomst. Iedere (startende) ondernemer die zijn of haar waren op straat of markt wil aanbieden, ontdekt al snel de voordelen van de HY:

	%ul
		%li
			Zeer aansprekende uitstraling
		%li
			Groot volume
		%li
			Lage instap
		%li
			Eenvoudig te modificeren naar individuele wensen (verkoopklep, verhoging, etc.)

%p
	Echter, omdat de bus in 1950 is ontworpen, kleven er voor sommige toepassingen ook een aantal nadelen aan, zoals de oude mechanische techniek en de beperkt bedrijfszekerheid.
	%br
	Voor de ondernemer, die eigenlijk een moderne verkoopwagen wil met de uitstraling van de HY, hebben wij de
	%span#company_name< HV
	ontwikkeld.

%p
	%h3
		De
		%span#company_name< HV

%p
	Het belangrijkste kenmerk van de moderne HV is dat de
	%span#company_name HV
	een trailer oftewel een aanhangwagen is, die u met een standaard kogelkoppeling achter een andere wagen met trekhaak hangt!  Andere kenmerken van deze
	%span#company_name HV
	zijn:

	%ul
		%li
			De buitenzijde is een natuurgetrouwe kopie van een HY, en heeft dus ook de uitstraling van een HY!
		%li
			Van binnen kan de
			%span#company_name HV
			bekleed worden met vlakke kunststof platen, waardoor er een moderne, glad afgewerkte verkoopwagen ontstaat.
		%li
			Zoals gezegd heeft de
			%span#company_name HV
			geen eigen motor maar is het een opbouw op een speciaal ontworpen onderstel met fusee gestuurde wielen.

	En omdat we de		
	%span#company_name HV
	toch opnieuw moesten ontwerpen, konden we meteen een aantal zaken standaard inbouwen die bij de oude HY alleen als extra optie mogelijk zijn. Zo is de
	%span#company_name HV
	\:

	%ul
		%li
			17 cm verhoogd t.o.v. de HY , waarmee de stahoogte bijna 2 meter wordt,
		%li
			40 cm verlengd, waardoor een vlakke werkruimte ontstaat van &#177; 4.0 bij 1,75 m,
		%li
			Voorzien van een verkoopklep.

%p
	%h3
		De
		%span#company_name HV
		kent vele uitvoeringen

%p
	Het grote succes van de HY was destijds het feit dat je er zo gemakkelijk mee kon variëren. Of het nu ging om een extra verlenging, ander deuren of meer ramen, alles was mogelijk. Hierdoor zijn er in de loop der tijd talloze varianten gemaakt.
	%br
	Deze mogelijkheid om het standaard model aan te kunnen passen aan de wensen van de klant, hebben we in het ontwerp van de
	%span#company_name HV
	behouden. Zo kunt u bijvoorbeeld kiezen voor een extra verlengde
	%span#company_name HV
	of voor een verkoopklep links en/of rechts.
	%br
	Hiernaast een aantal voorbeelden van mogelijke uitvoeringen.

%p
	%h3
		Een
		%span#company_name HV
		kopen of huren?

%p
	Bent u geïnteresseerd in de mogelijkheden van de HV, neem dan gerust
	%a{:href => '/contact/index'} contact
	met ons op.


%a{:href => '#'}
	.up
		Terug naar boven

%p
	%h2#h-plus H+

%p
	Natuurlijk is de beste HY een HY met een Citroën motor.. Maar steeds vaker kregen we de vraag of er toch geen andere motor in kan.

%p
	Tot nu toe hebben we dat afgehouden, maar sinds kort zijn we er toch mee begonnen. Zo hebben we nu bij een HY een V8 Landrover motor ingebouwd, en dat rijdt best aardig.

%p
	Dus als u een HY wilt met wat meer vermogen onder de motorkap, kan dat


%a{:href => '#'}
	.up
		Terug naar boven
