%h1
	Carrosserie aanpassingen.

%ul
	%a{ :href => '#enlarged' }
		%li Verhoogd/verlengd.
	%a{ :href => '#sales_flap' }
		%li Verkoopklep.
	%a{ :href => '#interior' }
		%li Inrichting

%p
	Toen André Citroën de HY in 1946 ontwierp was de gemiddelde Fransman 1.70 meter lang. André telde daar nog zo'n 10 cm bij [voor de bekende franse pet] en maakte de stahoogte in de HY 1.82 cm, kortom ruim genoeg...

%p
	Heden ten dage zijn we allemaal langer geworden en is de HY voor sommigen te laag. Zeker als er een verkoopklep wordt ingebouwd, kan men in een standaard HY niet onder de klep doorkijken. Dus krijgen we regelmatig de vraag: "Kan die HY niet wat verhoogd worden?" En als we dan toch aan het verbouwen zijn: "Mag HY dan ook meteen wat langer!"

%p
	Als rechtgeaarde restaurateurs zijn we voor deze vragen te rade gegaan bij het Citroën archief. Dan blijkt al snel dat Citroën zelf de HY slechts maakt in 2 basis uitvoeringen, de gesloten "Fourgon" en de open "Plateau". Alle aanpassingen zoals verlenging, verhoging, uitbouwen etc. zijn daarna gedaan door gespecialiseerde carrosserie¬bedrijven als Currus of Heuliez.

%p
	Wij van
	%span#company_name HY's mooi
	pakken deze handshoen nu weer op een bieden verhogingen en verlengingen voor de HY aan. Met nieuwe plaatdelen vergroten wij uw HY waarbij het oorspronkelijke karakter behouden blijft omdat we gebruik maken van origineel hergemaakt golfplaten, kokers en strip s.



%h2#enlarged Verhoogd/verlengd
%p
	De door ons toegepaste werkmethode maakt het in principe mogelijk om iedere door u gewenste verhoging en/of verlenging te maken.  De beperking zijn de maximale afmetingen zoals aangegeven door Citroën . Als u daar binnen blijft, kunnen wij het voor u maken. Ook is het goed mogelijk uw HY tegelijkertijd te verhogen èn te verlengen zoals op de foto hiernaast.

%p<
	De laatste HY die we op deze wijze hebben vergoot,  rijdt nu als verkoopwagen bij Renzo's Specialiteiten in Amsterdam. Deze wagen is 17,5 cm [4 ribbels] verhoogd waardoor de stahoogte bijna 2 meter is geworden. Van achteren is HY ± 60 cm verlengd. Hierdoor nam de inhoud toe van 7,3 m
	%sup> 3
	&nbsp;naar 10 m
	%sup> 3

%p
	%h3#basic_car
		Basiswagen

%p
	Een belangrijke restrictie voor het verlengen of verhogen van een HY is de kwaliteit van de carrosserie van de HY. Deze moet zeer behoorlijk zijn want we moeten de nieuwe delen wel kunnen vast lassen aan goed materiaal. Een tweede voorwaarde is inrichting van de HY, of liever gezegd het ontbreken daarvan. Voor het verlengen of verhogen moeten we slijpen en lassen, en dat gaat niet als er een inrichting is zit. Uw HY moet dus kaal en leeg zijn voordat we er mee aan de slag kunnen.

%p
	%h3#customization
		Maatwerk

%p
	Bij ons is een verlenging of verhoging maatwerk. Samen met u bepalen we wat voor u de beste dimensies zijn. Ook kunt u kiezen uit verschillende opties voor het vermaken van de deuren en  zijplaten. Slimme keuzes kunnen daarbij de kosten beperken.


%p
	%h3#prices
		Richtprijzen

%p
	En wat kost dat dan? Zult u vragen. Omdat iedere verhoging of verlenging weer anders is, is het ook lastig om hier een algemeen bedrag te noemen. Maar voor een vergroting van uw HY, exclusief deurverlenging en reparatie aan uw bestaande HY,  moet u rekenen op:
	%ul
		%li
			Verhoging: vanaf € 4.500
		%li
			Verlenging: vanaf € 6.500
	Interesse, neem gerust
	%a{:href => '/contact/index'} contact
	op.

%a{:href => '#'}
	.up
		Terug naar boven

%h2#sales_flap
	Verkoopklep

%p
	Door zijn ontwerp met de vlakke zijkanten is de HY uitermate geschikt voor het plaatsen van een groot verkoopluik aan de linker of rechterzijkant. Vanaf het begin [jaren 50/60] is dit een van de opties geweest die erg in trek was bij verkoop- en marktlieden. Ook heden ten dage is een verkoopklep een must als een HY wordt omgebouwd tot foodtruck of promotiewagen. Natuurlijk bouwen wij dit soort kleppen in, waarbij er vele mogelijkheden zijn: Of het nu gaat om een enkelvoudige brede klep, een dubbele klep of een klep met een vergrote opening, bijna alle wensen zijn te realiseren. Wij waken er voor dat de stijfheid en stevigheid van de carrosserie gegarandeerd blijft, dan bent u vrij om te bedenken wat voor uw toepassing de meeste geschikte klep is. En omdat wij weten dat de uitstraling van de wagen vast zit aan de details, bouwen wij onze kleppen zo dat ze in gesloten toestand niet te onderscheiden zijn. Bij dit onderwerp is het dus echt: U vraagt, wij draaien!

%a{:href => '#'}
	.up
		Terug naar boven

%h2#interior
	Interieur

%p
	Alhoewel het inrichten van een HY verkoop- of promotiewagen niet direct onze specialiteit is, zijn er wel een aantal onderdelen die wij kunnen leveren en monteren:

%h3 RVS werkbladen
%p
	Zeker bij verkoopwagens waar verse voedingswaren worden bereid is hygiëne en HACCP een issue. Het gebruik van een RVS interieur met RVS werkbladen is dan vaak een prima oplossing. Voor deze toepassing hebben wij een "standaard" configuratie ontworpen die geheel aansluit op de speciale maatvoering van de HY.

%h3 Afscheiden cabine
%p
	Voor sommige toepassingen is het beter dat de werkruimte gescheiden wordt van de cabine. Voor deze situatie hebben wij de originele afscheidingsplaten -zoals ooit door Citroën geleverd voor de pick-up- weer opnieuw laten produceren. Deze passen dus prima in een standaard HY.

%a{:href => '#'}
	.up
		Terug naar boven

