%h1
	Mag het iets meer zijn?

%ul
	%a{ :href => '#king_customer' }
		%li Zegt u het maar!
	%a{ :href => '#basic_car' }
		%li Basiswagen
	%a{ :href => '#customization' }
		%li Maatwerk
	%a{ :href => '#prices' }
		%li Richtprijzen

%p
	Toen André Citroën de HY in 1946 ontwierp was de gemiddelde Fransman 1.70 meter lang. André telde daar nog zo'n 10 cm bij [voor de bekende franse pet] en maakte de stahoogte in de HY 1.82 cm, kortom ruim genoeg...

%p
	Heden ten dage zijn we allemaal langer geworden en is de HY voor sommigen te laag. Zeker als er een verkoopklep wordt ingebouwd, kan men in een standaard HY niet onder de klep doorkijken. Dus krijgen we regelmatig de vraag: "Kan die HY niet wat verhoogd worden?" En als we dan toch aan het verbouwen zijn: "Mag HY dan ook meteen wat langer!"

%p
	Als rechtgeaarde restaurateurs zijn we voor deze vragen te rade gegaan bij het Citroën archief. Dan blijkt al snel dat Citroën zelf de HY slechts maakt in 2 basis uitvoeringen, de gesloten "Fourgon" en de open "Plateau". Alle aanpassingen zoals verlenging, verhoging, uitbouwen etc. zijn daarna gedaan door gespecialiseerde carrosserie¬bedrijven als Currus of Heuliez.

%p
	Wij van
	%span#company_name HY's mooi
	pakken deze handshoen nu weer op een bieden verhogingen en verlengingen voor de HY aan. Met nieuwe plaatdelen vergroten wij uw HY waarbij het oorspronkelijke karakter behouden blijft omdat we gebruik maken van origineel hergemaakt golfplaten, kokers en strip s.



%h3#king_customer Zegt u het maar!
%p
	De door ons toegepaste werkmethode maakt het in principe mogelijk om iedere door u gewenste verhoging en/of verlenging te maken.  De beperking zijn de maximale afmetingen zoals aangegeven door Citroën . Als u daar binnen blijft, kunnen wij het voor u maken. Ook is het goed mogelijk uw HY tegelijkertijd te verhogen èn te verlengen zoals op de foto hiernaast.

%p<
	De laatste HY die we op deze wijze hebben vergoot,  rijdt nu als verkoopwagen bij Renzo's Specialiteiten in Amsterdam. Deze wagen is 17,5 cm [4 ribbels] verhoogd waardoor de stahoogte bijna 2 meter is geworden. Van achteren is HY ± 60 cm verlengd. Hierdoor nam de inhoud toe van 7,3 m
	%sup> 3
	&nbsp;naar 10 m
	%sup> 3

%a{:href => '#'}
	.up
		Terug naar boven

%p
	%h2#basic_car
		Basiswagen

%p
	Een belangrijke restrictie voor het verlengen of verhogen van een HY is de kwaliteit van de carrosserie van de HY. Deze moet zeer behoorlijk zijn want we moeten de nieuwe delen wel kunnen vast lassen aan goed materiaal. Een tweede voorwaarde is inrichting van de HY, of liever gezegd het ontbreken daarvan. Voor het verlengen of verhogen moeten we slijpen en lassen, en dat gaat niet als er een inrichting is zit. Uw HY moet dus kaal en leeg zijn voordat we er mee aan de slag kunnen. 


%a{:href => '#'}
	.up
		Terug naar boven

%p
	%h2#customization
		Maatwerk

%p
	Bij ons is een verlenging of verhoging maatwerk. Samen met u bepalen we wat voor u de beste dimensies zijn. Ook kunt u kiezen uit verschillende opties voor het vermaken van de deuren en  zijplaten. Slimme keuzes kunnen daarbij de kosten beperken. 


%a{:href => '#'}
	.up
		Terug naar boven


%p
	%h2#prices
		Richtprijzen

%p
	En wat kost dat dan? Zult u vragen. Omdat iedere verhoging of verlenging weer anders is, is het ook lastig om hier een algemeen bedrag te noemen. Maar voor een vergroting van uw HY, exclusief deurverlenging en reparatie aan uw bestaande HY,  moet u rekenen op:
	%ul
		%li
			Verhoging: vanaf € 4.500
		%li
			Verlenging: vanaf € 6.500
	Interesse, neem gerust
	%a{:href => '/contact/index'} contact
	op.

%a{:href => '#'}
	.up
		Terug naar boven


