%h1 Links

%p
	Citroen HY vereniging Le camion:
	= link_to "www.le-camion.nl", "http://www.le-camion.nl"
	%br
	HY team Nederland:
	= link_to "www.citroenhyteam.nl", "http://www.citroenhyteam.nl"
 
%p
	Sites waar regelmatig HY's worden aangeboden:
	= link_to "www.marktplaats.nl", "http://www.marktplaats.nl"
	%br
	= link_to "www.leboncoin.fr/", "http://www.leboncoin.fr/vehicules/offres/?f=a&th=1&q=citroen+hy"