%h1 Links

%p
	Citroen HY vereniging Le camion:
	%a{:href => 'http://www.le-camion.nl'}www.le-camion.nl
	%br
	HY team Nederland:
	%a{:href => 'http://www.citroenhyteam.nl'}www.citroenhyteam.nl
 
%p
	Sites waar regelmatig HY's worden aangeboden:
	%a{:href => 'http://www.marktplaats.nl'}www.marktplaats.nl
	%br
	%a{:href => 'http://www.leboncoin.fr/vehicules/offres/?f=a&th=1&q=citroen+hy'}www.leboncoin.fr