%h1 Links

%p
	Citroen HY vereniging Le camion:
	%a{:href => 'http://www.le-camion.nl', :target => '_blank' }www.le-camion.nl
	%br
	HY team Nederland:
	%a{:href => 'http://www.citroenhyteam.nl', :target => '_blank' }www.citroenhyteam.nl
 
%p
	Sites waar regelmatig HY's worden aangeboden:
	%a{:href => 'http://www.marktplaats.nl', :target => '_blank' }www.marktplaats.nl
	%br
	%a{:href => 'http://www.leboncoin.fr/vehicules/offres/?f=a&th=1&q=citroen+hy', :target => '_blank' }www.leboncoin.fr

%p
	Hier laten wij onze wagens Dinitrollen:
	%a{:href => 'http://www.sjaakvanaalst.nl', :target => '_blank' }www.sjaakvanaalst.nl
	%br
	Dit bedrijf schuurt en spuit voor ons de HY's:
	%a{:href => 'http://www.spuiterijclay.nl', :target => '_blank' }www.spuiterijclay.nl