%h1
	Voor bedrijven

%ul
	%a{ :href => '#HY_rediscovered' }
		%li HY is herondekt
	%a{ :href => '#functional_adjustments' }
		%li Functionele aanpassingen
	%a{ :href => '#old_car' }
		%li Het blijft een oude wagen
	%a{ :href => '#rental' }
		%li HY verkoopwagen te huur
	

%h3#HY_rediscovered HY is herontdekt
%p
	Sinds een jaar of 10 is de Citroën HY herontdekt als bedrijfswagen.
	Steeds vaker kiezen bedrijven voor de Citroën HY vanwege de krachtige en klassieke uitstraling van deze bus. 
	Wanneer een bedrijf dan vervolgens op zoek gaat naar een HY, merkt men pas hoeveel verschillende uitvoeringen er rond rijden. Er zijn verlengde HY's, verhoogde, verbrede, met één klep of met twee, met grote deuren en kleine, alles lijkt mogelijk.
	Ongemerkt heeft men- naast de karakteristieke uitstraling- de tweede reden ontdekt waarom HY zo populair was en weer is: De opbouw van een HY is relatief eenvoudig aan te passen!
	Citroën zelf heeft maar 3 uitvoeringen geleverd, 
	%li de gesloten uitvoering [fourgon] 
	%li de pick-up [plateau]
	%li de  kale chassiscabine uitvoering. 
	Alle andere uitvoeringen zijn na aflevering door carrosseriebouwers aangebracht.
	In de meeste gevallen wordt men door deze mogelijkheden extra gemotiveerd en gaat men serieus op zoek naar een mooi en geschikt exemplaar. 

%a{:href => '#'}
	.up
		Terug naar boven

%h3#functional_adjustments Functionele aanpassingen
%p
	En dan komt
	%span#company_name HY's mooi
	in beeld.
	Door onze ervaring met zowel de binnen- als de buitenzijde van de HY, kunnen wij voor u een HY aanpassen en verbouwen en de HY laten aansluiten bij uw wensen.
	Bij deze aanpassingen hanteren we drie harde uitgangspunten:
	%li Het oorspronkelijke karakter van de HY met zijn specifieke uitstraling blijft behouden;
	%li De aanpassingen tasten de stevigheid en stabiliteit van de HY niet aan;
	%li Op sommige punten zijn technische verbeteringen mogelijk, maar aan de basistechnologie veranderen wij niets.
	Het voordeel voor u is dus dat op zoek kunt gaan naar een mooie standaard bus waarbij wij later allerlei aanpassingen plegen. Dit is veel eenvoudiger dan dat u op zoek moet gaan naar een HY in precies die uitvoering is die voor u geschikt is.

%p
	In de praktijk zijn de meest gevraagde functionele aanpassingen:
	%li Inbouwen van een verkoopklep aan de zijkant;
	%li Verhogen van de werkruimte met 10-30 cm;
	%li Strak maken en overspuiten van de HY in de bedrijfskleuren;
	%li Aanbrengen van speciale opties zoals een imperiaal of dakluik.

#new-offer-container
	Meer info over aanpassingen vind u in het speciale gedeelte over de 
	%a{:href => '/#new_offers'} HY in de 21ste eeuw

%a{:href => '#'}
	.up
		Terug naar boven

%h3#old_car Het blijft een oude wagen
%p
	Met het vooruitzicht dat de HY straks weer helemaal als nieuw voor de poort van het eigen bedrijf staat, vergeet men soms dat de HY heus een echte oldtimer is, met de techniek uit de jaren ´50.
	In die tijd hadden zaken als veiligheid, rijcomfort en bedrijfszekerheid een geheel andere inhoud.
	Op een aantal punten kunnen we de veiligheid en bedrijfszekerheid verbeteren, maar wij wijzen onze klanten er vanaf het begin nadrukkelijk op dat de HY niet te vergelijken is met bijv. een nieuwe Ford transit.
	De belangrijkste verschillen met een moderne bestelbus zijn:
	%li HY heeft geen rem- en stuurbekrachtiging.
	%li HY rijdt maximaal 90 km/uur
	%li HY heeft weinig geluids- en warmte-isolatie
	%li HY vergt zeker meer onderhoud en aandacht
	Daarnaast zijn al de technische onderdelen minimaal 35 jaar oud en ver over hun ontworpen levensduur. De kans op onverwachte storing is reëel. 
	Is de HY hierdoor ongeschikt om als bedrijfswagen te worden ingezet? Neen, als u de HY met wat extra zorg en aandacht beheert, zult u er veel plezier van hebben.
	Maar de HY blijft een oude heer die soms wat onverwachte kuren heeft. 

%p
	Hiernaast een aantal sprekende voorbeelden van HY's die we voor bedrijfsmatige toepassingen hebben omgebouwd.

%a{:href => '#'}
	.up
		Terug naar boven

%h2#rental HY verkoopwagen te huur

%p
	Regelmatig wordt aan ons gevraagd of we niet een HY hebben die voor korte of langere tijd te huur is. Dat kan! Wij hebben sinds kort een HY klaargemaakt voor de verhuur. Het is een heel mooi exemplaar. Aan de zijkant is de HY voorzien van een grote verkoopklep.
	%br
	Richtprijzen voor huur van deze HY zijn
	%b
		exclusief BTW
	%li 1ste dag:			€  400
	%li volgende dag:		€  250 / dag
	%li 1 week				€  975
	%li 2 weken				€  1.650
	%li 1 maand				€  2.500

%p
	Omdat deze klassier nogal kwetsbaar is, mag u er zelf niet in rijden.
	%br
	Wij zetten deze HY op de juiste locatie en halen hem aan het einde van de huurperiode weer op. Voor het wegbrengen en ophalen rekenen wij € 2,50/km, exclusief BTW
	%br	
	Voor de juiste voorwaarden en prijzen moet u even met ons contact opnemen

%a{:href => '#'}
	.up
		Terug naar boven

/
	%p
		%h2#hv
			De HY en de
			%span#company_name HV

	%p
		%h3
			De HY als verkoopwagen
		De laatste jaren is de populariteit van de Citroen HY als verkoopwagen sterk in opkomst. Iedere (startende) ondernemer die zijn of haar waren op straat of markt wil aanbieden, ontdekt al snel de voordelen van de HY:
	
		%ul
			%li
				Zeer aansprekende uitstraling
			%li
				Groot volume
			%li
				Lage instap
			%li
				Eenvoudig te modificeren naar individuele wensen (verkoopklep, verhoging, etc.)
	
	%p
		Echter, omdat de bus in 1950 is ontworpen, kleven er voor sommige toepassingen ook een aantal nadelen aan, zoals de oude mechanische techniek en de beperkt bedrijfszekerheid.
		%br
		Voor de ondernemer, die eigenlijk een moderne verkoopwagen wil met de uitstraling van de HY, hebben wij de
		%span#company_name< HV
		ontwikkeld.
	
	%p
		%h3
			De
			%span#company_name< HV
	
	%p
		Het belangrijkste kenmerk van de moderne HV is dat de
		%span#company_name HV
		een trailer oftewel een aanhangwagen is, die u met een standaard kogelkoppeling achter een andere wagen met trekhaak hangt!  Andere kenmerken van deze
		%span#company_name HV
		zijn:
	
		%ul
			%li
				De buitenzijde is een natuurgetrouwe kopie van een HY, en heeft dus ook de uitstraling van een HY!
			%li
				Van binnen kan de
				%span#company_name HV
				bekleed worden met vlakke kunststof platen, waardoor er een moderne, glad afgewerkte verkoopwagen ontstaat.
			%li
				Zoals gezegd heeft de
				%span#company_name HV
				geen eigen motor maar is het een opbouw op een speciaal ontworpen onderstel met fusee gestuurde wielen.
	
		En omdat we de		
		%span#company_name HV
		toch opnieuw moesten ontwerpen, konden we meteen een aantal zaken standaard inbouwen die bij de oude HY alleen als extra optie mogelijk zijn. Zo is de
		%span#company_name HV
		\:
	
		%ul
			%li
				17 cm verhoogd t.o.v. de HY , waarmee de stahoogte bijna 2 meter wordt,
			%li
				40 cm verlengd, waardoor een vlakke werkruimte ontstaat van &#177; 4.0 bij 1,75 m,
			%li
				Voorzien van een verkoopklep.

	%p
		%h3
			De
			%span#company_name HV
			kent vele uitvoeringen

	%p
		Het grote succes van de HY was destijds het feit dat je er zo gemakkelijk mee kon variëren. Of het nu ging om een extra verlenging, ander deuren of meer ramen, alles was mogelijk. Hierdoor zijn er in de loop der tijd talloze varianten gemaakt.
		%br
		Deze mogelijkheid om het standaard model aan te kunnen passen aan de wensen van de klant, hebben we in het ontwerp van de
		%span#company_name HV
		behouden. Zo kunt u bijvoorbeeld kiezen voor een extra verlengde
		%span#company_name HV
		of voor een verkoopklep links en/of rechts.
		%br
		Hiernaast een aantal voorbeelden van mogelijke uitvoeringen.
	
	%p
		%h3
			Een
			%span#company_name HV
			kopen of huren?

	%p
		Bent u geïnteresseerd in de mogelijkheden van de HV, neem dan gerust
		%a{:href => '/contact/index'} contact
		met ons op.
	
	
	
