%h1 Voor bedrijven

%h3 HY is herontdekt
Sinds een jaar of 10 is de Citroën HY herontdekt als bedrijfswagen.
Steeds vaker kiezen bedrijven voor de Citroën HY vanwege de krachtige en klassieke uitstraling van deze bus. 
Wanneer een bedrijf dan vervolgens op zoek gaat naar een HY, merkt men pas hoeveel verschillende uitvoeringen er rond rijden. Er zijn verlengde HY's, verhoogde, verbrede, met één klep of met twee, met grote deuren en kleine, alles lijkt mogelijk.
Ongemerkt heeft men- naast de karakteristieke uitstraling- de tweede reden ontdekt waarom HY zo populair was en weer is: De opbouw van een HY is relatief eenvoudig aan te passen!
Citroën zelf heeft maar 3 uitvoeringen geleverd, 
%li de gesloten uitvoering [fourgon] 
%li de pick-up [plateau]
%li de  kale chassiscabine uitvoering. 
Alle andere uitvoeringen zijn na aflevering door carrosseriebouwers aangebracht.
In de meeste gevallen wordt men door deze mogelijkheden extra gemotiveerd en gaat men serieus op zoek naar een mooi en geschikt exemplaar. 

%h3 Functionele aanpassingen
En dan komt
%b HY's mooi
in beeld.
Door onze ervaring met zowel de binnen- als de buitenzijde van de HY, kunnen wij voor u een HY aanpassen en verbouwen en de HY laten aansluiten bij uw wensen.
Bij deze aanpassingen hanteren we drie harde uitgangspunten:
%li Het oorspronkelijke karakter van de HY met zijn specifieke uitstraling blijft behouden;
%li De aanpassingen tasten de stevigheid en stabiliteit van de HY niet aan;
%li Op sommige punten zijn technische verbeteringen mogelijk, maar aan de basistechnologie veranderen wij niets.
Het voordeel voor u is dus dat op zoek kunt gaan naar een mooie standaard bus waarbij wij later allerlei aanpassingen plegen. Dit is veel eenvoudiger dan dat u op zoek moet gaan naar een HY in precies die uitvoering is die voor u geschikt is.

%p
In de praktijk zijn de meest gevraagde functionele aanpassingen:
%li Inbouwen van een verkoopklep aan de zijkant;
%li Verhogen van de werkruimte met 10-30 cm;
%li Strak maken en overspuiten van de HY in de bedrijfskleuren;
%li Aanbrengen van speciale opties zoals een imperiaal of dakluik.

%h3 Het blijft een oude wagen
Met het vooruitzicht dat de HY straks weer helemaal als nieuw voor de poort van het eigen bedrijf staat, vergeet men soms dat de HY heus een echte oldtimer is, met de techniek uit de jaren ´50.
In die tijd hadden zaken als veiligheid, rijcomfort en bedrijfszekerheid een geheel andere inhoud.
Op een aantal punten kunnen we de veiligheid en bedrijfszekerheid verbeteren, maar wij wijzen onze klanten er vanaf het begin nadrukkelijk op dat de HY niet te vergelijken is met bijv. een nieuwe Ford transit.
De belangrijkste verschillen met een moderne bestelbus zijn:
%li HY heeft geen rem- en stuurbekrachtiging.
%li HY rijdt maximaal 90 km/uur
%li HY heeft weinig geluids- en warmte-isolatie
%li HY vergt zeker meer onderhoud en aandacht
Daarnaast zijn al de technische onderdelen minimaal 35 jaar oud en ver over hun ontworpen levensduur. De kans op onverwachte storing is reëel. 
Is de HY hierdoor ongeschikt om als bedrijfswagen te worden ingezet? Neen, als u de HY met wat extra zorg en aandacht beheert, zult u er veel plezier van hebben.
Maar de HY blijft een oude heer die soms wat onverwachte kuren heeft. 

%p
Hiernaast een aantal sprekende voorbeelden van HY's die we voor bedrijfsmatige toepassingen hebben omgebouwd.

