%h2 Actueel
.actueel
	%a#actueel{:href => '/assets/header_pages/gallery/actueel/hy_1.png', :rel => 'group'}
		%img{:src => '/assets/header_pages/gallery/actueel/small_hy_1.png'}

	%a#actueel{:href => '/assets/header_pages/gallery/actueel/hy_2.png', :rel => 'group'}
		%img{:src => '/assets/header_pages/gallery/actueel/small_hy_2.png'}

	%a#actueel{:href => '/assets/header_pages/gallery/actueel/hy_3.png', :rel => 'group'}
		%img{:src => '/assets/header_pages/gallery/actueel/small_hy_3.png'}

	%a#actueel{:href => '/assets/header_pages/gallery/actueel/hy_4.png', :rel => 'group'}
		%img{:src => '/assets/header_pages/gallery/actueel/small_hy_4.png'}

	%a#actueel{:href => '/assets/header_pages/gallery/actueel/hy_5.png', :rel => 'group'}
		%img{:src => '/assets/header_pages/gallery/actueel/small_hy_5.png'}

	%a#actueel.last{:href => '/assets/header_pages/gallery/actueel/hy_6.png', :rel => 'group'}
		%img{:src => '/assets/header_pages/gallery/actueel/small_hy_6.png'}

%h2 Gereviseerd
.gereviseerd
	%a#gereviseerd{:href => '/assets/header_pages/gallery/gereviseerd/hy_1.png', :rel => 'group2'}
		%img{:src => '/assets/header_pages/gallery/gereviseerd/small_hy_1.png'}

	%a#gereviseerd{:href => '/assets/header_pages/gallery/gereviseerd/hy_2.png', :rel => 'group2'}
		%img{:src => '/assets/header_pages/gallery/gereviseerd/small_hy_2.png'}

	%a#gereviseerd{:href => '/assets/header_pages/gallery/gereviseerd/hy_3.png', :rel => 'group2'}
		%img{:src => '/assets/header_pages/gallery/gereviseerd/small_hy_3.png'}

	%a#gereviseerd{:href => '/assets/header_pages/gallery/gereviseerd/hy_4.png', :rel => 'group2'}
		%img{:src => '/assets/header_pages/gallery/gereviseerd/small_hy_4.png'}

	%a#gereviseerd{:href => '/assets/header_pages/gallery/gereviseerd/hy_5.png', :rel => 'group2'}
		%img{:src => '/assets/header_pages/gallery/gereviseerd/small_hy_5.png'}

	%a#gereviseerd{:href => '/assets/header_pages/gallery/gereviseerd/hy_6.png', :rel => 'group2'}
		%img{:src => '/assets/header_pages/gallery/gereviseerd/small_hy_6.png'}
	
	%a#gereviseerd{:href => '/assets/header_pages/gallery/gereviseerd/hy_7.png', :rel => 'group2'}
		%img{:src => '/assets/header_pages/gallery/gereviseerd/small_hy_7.png'}

	%a#gereviseerd{:href => '/assets/header_pages/gallery/gereviseerd/hy_8.png', :rel => 'group2'}
		%img{:src => '/assets/header_pages/gallery/gereviseerd/small_hy_8.png'}

	%a#gereviseerd{:href => '/assets/header_pages/gallery/gereviseerd/hy_9.png', :rel => 'group2'}
		%img{:src => '/assets/header_pages/gallery/gereviseerd/small_hy_9.png'}

	%a#gereviseerd.last{:href => '/assets/header_pages/gallery/gereviseerd/hy_10.png', :rel => 'group2'}
		%img{:src => '/assets/header_pages/gallery/gereviseerd/small_hy_10.png'}

%h2 Revisie
.revisie
	%a#revisie{:href => '/assets/header_pages/gallery/revisie/hy_1.png', :rel => 'group3'}
		%img{:src => '/assets/header_pages/gallery/revisie/small_hy_1.png'}

	%a#revisie{:href => '/assets/header_pages/gallery/revisie/hy_2.png', :rel => 'group3'}
		%img{:src => '/assets/header_pages/gallery/revisie/small_hy_2.png'}

	%a#revisie{:href => '/assets/header_pages/gallery/revisie/hy_3.png', :rel => 'group3'}
		%img{:src => '/assets/header_pages/gallery/revisie/small_hy_3.png'}

	%a#revisie{:href => '/assets/header_pages/gallery/revisie/hy_4.png', :rel => 'group3'}
		%img{:src => '/assets/header_pages/gallery/revisie/small_hy_4.png'}

	%a#revisie{:href => '/assets/header_pages/gallery/revisie/hy_5.png', :rel => 'group3'}
		%img{:src => '/assets/header_pages/gallery/revisie/small_hy_5.png'}

	%a#revisie{:href => '/assets/header_pages/gallery/revisie/hy_6.png', :rel => 'group3'}
		%img{:src => '/assets/header_pages/gallery/revisie/small_hy_6.png'}
	
	%a#revisie{:href => '/assets/header_pages/gallery/revisie/hy_7.png', :rel => 'group3'}
		%img{:src => '/assets/header_pages/gallery/revisie/small_hy_7.png'}

	%a#revisie{:href => '/assets/header_pages/gallery/revisie/hy_8.png', :rel => 'group3'}
		%img{:src => '/assets/header_pages/gallery/revisie/small_hy_8.png'}

	%a#revisie{:href => '/assets/header_pages/gallery/revisie/hy_9.png', :rel => 'group3'}
		%img{:src => '/assets/header_pages/gallery/revisie/small_hy_9.png'}

	%a#revisie{:href => '/assets/header_pages/gallery/revisie/hy_10.png', :rel => 'group3'}
		%img{:src => '/assets/header_pages/gallery/revisie/small_hy_10.png'}

	%a#revisie{:href => '/assets/header_pages/gallery/revisie/hy_11.png', :rel => 'group3'}
		%img{:src => '/assets/header_pages/gallery/revisie/small_hy_11.png'}

	%a#revisie{:href => '/assets/header_pages/gallery/revisie/hy_12.png', :rel => 'group3'}
		%img{:src => '/assets/header_pages/gallery/revisie/small_hy_12.png'}

	%a#revisie{:href => '/assets/header_pages/gallery/revisie/hy_13.png', :rel => 'group3'}
		%img{:src => '/assets/header_pages/gallery/revisie/small_hy_13.png'}

	%a#revisie.last{:href => '/assets/header_pages/gallery/revisie/hy_14.png', :rel => 'group3'}
		%img{:src => '/assets/header_pages/gallery/revisie/small_hy_14.png'}

%h2 Spuiten
.spuiten
	%a#spuiten{:href => '/assets/header_pages/gallery/spuiten/hy_1.png', :rel => 'group4'}
		%img{:src => '/assets/header_pages/gallery/spuiten/small_hy_1.png'}

	%a#spuiten{:href => '/assets/header_pages/gallery/spuiten/hy_2.png', :rel => 'group4'}
		%img{:src => '/assets/header_pages/gallery/spuiten/small_hy_2.png'}

	%a#spuiten{:href => '/assets/header_pages/gallery/spuiten/hy_3.png', :rel => 'group4'}
		%img{:src => '/assets/header_pages/gallery/spuiten/small_hy_3.png'}

	%a#spuiten{:href => '/assets/header_pages/gallery/spuiten/hy_4.png', :rel => 'group4'}
		%img{:src => '/assets/header_pages/gallery/spuiten/small_hy_4.png'}

	%a#spuiten{:href => '/assets/header_pages/gallery/spuiten/hy_5.png', :rel => 'group4'}
		%img{:src => '/assets/header_pages/gallery/spuiten/small_hy_5.png'}

	%a#spuiten{:href => '/assets/header_pages/gallery/spuiten/hy_6.png', :rel => 'group4'}
		%img{:src => '/assets/header_pages/gallery/spuiten/small_hy_6.png'}

	%a#spuiten{:href => '/assets/header_pages/gallery/spuiten/hy_7.png', :rel => 'group4'}
		%img{:src => '/assets/header_pages/gallery/spuiten/small_hy_7.png'}

	%a#spuiten{:href => '/assets/header_pages/gallery/spuiten/hy_8.png', :rel => 'group4'}
		%img{:src => '/assets/header_pages/gallery/spuiten/small_hy_8.png'}

	%a#spuiten{:href => '/assets/header_pages/gallery/spuiten/hy_9.png', :rel => 'group4'}
		%img{:src => '/assets/header_pages/gallery/spuiten/small_hy_9.png'}

	%a#spuiten{:href => '/assets/header_pages/gallery/spuiten/hy_10.png', :rel => 'group4'}
		%img{:src => '/assets/header_pages/gallery/spuiten/small_hy_10.png'}

	%a#spuiten{:href => '/assets/header_pages/gallery/spuiten/hy_11.png', :rel => 'group4'}
		%img{:src => '/assets/header_pages/gallery/spuiten/small_hy_11.png'}

	%a#spuiten{:href => '/assets/header_pages/gallery/spuiten/hy_12.png', :rel => 'group4'}
		%img{:src => '/assets/header_pages/gallery/spuiten/small_hy_12.png'}

	%a#spuiten{:href => '/assets/header_pages/gallery/spuiten/hy_13.png', :rel => 'group4'}
		%img{:src => '/assets/header_pages/gallery/spuiten/small_hy_13.png'}

	%a#spuiten.last{:href => '/assets/header_pages/gallery/spuiten/hy_14.png', :rel => 'group4'}
		%img{:src => '/assets/header_pages/gallery/spuiten/small_hy_14.png'}