%h2 Actueel
.actueel
	%a.actueel{:href => '/assets/header_pages/gallery/actueel/citroen_hy_1.png', :rel => 'group', :title => 'Al jaren stond HY in een Amsterdamse hal'}
		%img{:src => '/assets/header_pages/gallery/actueel/small_hy_1.png'}

	%a.actueel{:href => '/assets/header_pages/gallery/actueel/citroen_hy_2.png', :rel => 'group', :title => 'Eerst maar eens het paard er onder vandaan'}
		%img{:src => '/assets/header_pages/gallery/actueel/small_hy_2.png'}

	%a.actueel{:href => '/assets/header_pages/gallery/actueel/citroen_hy_3.png', :rel => 'group', :title => 'Dan de carrosserie schoonspuiten'}
		%img{:src => '/assets/header_pages/gallery/actueel/small_hy_3.png'}

	%a.actueel{:href => '/assets/header_pages/gallery/actueel/citroen_hy_4.png', :rel => 'group', :title => 'En de koets laten stralen'}
		%img{:src => '/assets/header_pages/gallery/actueel/small_hy_4.png'}

	%a.actueel{:href => '/assets/header_pages/gallery/actueel/citroen_hy_5.png', :rel => 'group', :title => 'Dan blijken er toch wat slechte plekken'}
		%img{:src => '/assets/header_pages/gallery/actueel/small_hy_5.png'}

	%a.actueel.last{:href => '/assets/header_pages/gallery/actueel/citroen_hy_6.png', :rel => 'group', :title => 'Onder het raam bijvoorbeeld'}
		%img{:src => '/assets/header_pages/gallery/actueel/small_hy_6.png'}

	%a.actueel.last{:href => '/assets/header_pages/gallery/actueel/citroen_hy_7.png', :rel => 'group', :title => 'En in de wielbakken'}
		%img{:src => '/assets/header_pages/gallery/actueel/small_hy_7.png'}

	%a.actueel.last{:href => '/assets/header_pages/gallery/actueel/citroen_hy_8.png', :rel => 'group', :title => 'En boven de achterklep'}
		%img{:src => '/assets/header_pages/gallery/actueel/small_hy_8.png'}

%h2 Gereviseerd
.gereviseerd
	%a.gereviseerd{:href => '/assets/header_pages/gallery/gereviseerd/citroen_hy_1.png', :rel => 'group2', :title => 'HY met grote verkoopklep'}
		%img{:src => '/assets/header_pages/gallery/gereviseerd/small_hy_1.png'}

	%a.gereviseerd{:href => '/assets/header_pages/gallery/gereviseerd/citroen_hy_2.png', :rel => 'group2', :title => 'Op weg naar de klant'}
		%img{:src => '/assets/header_pages/gallery/gereviseerd/small_hy_2.png'}

	%a.gereviseerd{:href => '/assets/header_pages/gallery/gereviseerd/citroen_hy_3.png', :rel => 'group2', :title => 'De mooi remiabus'}
		%img{:src => '/assets/header_pages/gallery/gereviseerd/small_hy_3.png'}

	%a.gereviseerd{:href => '/assets/header_pages/gallery/gereviseerd/citroen_hy_4.png', :rel => 'group2', :title => 'Een HY voor Megamindy'}
		%img{:src => '/assets/header_pages/gallery/gereviseerd/small_hy_4.png'}

	%a.gereviseerd{:href => '/assets/header_pages/gallery/gereviseerd/citroen_hy_5.png', :rel => 'group2', :title => 'Standaard HY op de filmset'}
		%img{:src => '/assets/header_pages/gallery/gereviseerd/small_hy_5.png'}

	%a.gereviseerd{:href => '/assets/header_pages/gallery/gereviseerd/citroen_hy_6.png', :rel => 'group2', :title => 'Verhoogd en verlengd'}
		%img{:src => '/assets/header_pages/gallery/gereviseerd/small_hy_6.png'}
	
	%a.gereviseerd{:href => '/assets/header_pages/gallery/gereviseerd/citroen_hy_7.png', :rel => 'group2', :title => 'Met bagagekoffer achterop'}
		%img{:src => '/assets/header_pages/gallery/gereviseerd/small_hy_7.png'}

	%a.gereviseerd{:href => '/assets/header_pages/gallery/gereviseerd/citroen_hy_8.png', :rel => 'group2', :title => 'Bijna klaar'}
		%img{:src => '/assets/header_pages/gallery/gereviseerd/small_hy_8.png'}

	%a.gereviseerd{:href => '/assets/header_pages/gallery/gereviseerd/citroen_hy_9.png', :rel => 'group2', :title => 'Op de horecava'}
		%img{:src => '/assets/header_pages/gallery/gereviseerd/small_hy_9.png'}

	%a.gereviseerd.last{:href => '/assets/header_pages/gallery/gereviseerd/citroen_hy_10.png', :rel => 'group2', :title => 'Ook deze HY hebben we onderhanden gehad'}
		%img{:src => '/assets/header_pages/gallery/gereviseerd/small_hy_10.png'}

%h2 Revisie
.revisie
	%a.revisie{:href => '/assets/header_pages/gallery/revisie/citroen_hy_1.png', :rel => 'group3', :title => '2 tegelijk ophalen'}
		%img{:src => '/assets/header_pages/gallery/revisie/small_hy_1.png'}

	%a.revisie{:href => '/assets/header_pages/gallery/revisie/citroen_hy_2.png', :rel => 'group3', :title => 'Motor + versnellingsbak in de takel'}
		%img{:src => '/assets/header_pages/gallery/revisie/small_hy_2.png'}

	%a.revisie{:href => '/assets/header_pages/gallery/revisie/citroen_hy_3.png', :rel => 'group3', :title => 'Klaar om gesplitst te worden'}
		%img{:src => '/assets/header_pages/gallery/revisie/small_hy_3.png'}

	%a.revisie{:href => '/assets/header_pages/gallery/revisie/citroen_hy_4.png', :rel => 'group3', :title => 'Fusees en aandrijfassen uit elkaar'}
		%img{:src => '/assets/header_pages/gallery/revisie/small_hy_4.png'}

	%a.revisie{:href => '/assets/header_pages/gallery/revisie/citroen_hy_5.png', :rel => 'group3', :title => 'Versnellingspook'}
		%img{:src => '/assets/header_pages/gallery/revisie/small_hy_5.png'}

	%a.revisie{:href => '/assets/header_pages/gallery/revisie/citroen_hy_6.png', :rel => 'group3', :title => 'Stuurhuis gedemonteerd'}
		%img{:src => '/assets/header_pages/gallery/revisie/small_hy_6.png'}

	%a.revisie{:href => '/assets/header_pages/gallery/revisie/citroen_hy_7.png', :rel => 'group3', :title => 'Stuurstangen'}
		%img{:src => '/assets/header_pages/gallery/revisie/small_hy_7.png'}

	%a.revisie{:href => '/assets/header_pages/gallery/revisie/citroen_hy_8.png', :rel => 'group3', :title => 'Stuurhuis'}
		%img{:src => '/assets/header_pages/gallery/revisie/small_hy_8.png'}
	
	%a.revisie{:href => '/assets/header_pages/gallery/revisie/citroen_hy_9.png', :rel => 'group3', :title => 'Motor gestript'}
		%img{:src => '/assets/header_pages/gallery/revisie/small_hy_9.png'}

	%a.revisie{:href => '/assets/header_pages/gallery/revisie/citroen_hy_10.png', :rel => 'group3', :title => 'Na verwijderen van de carterpan zie je de krukas'}
		%img{:src => '/assets/header_pages/gallery/revisie/small_hy_10.png'}

	%a.revisie{:href => '/assets/header_pages/gallery/revisie/citroen_hy_11.png', :rel => 'group3', :title => 'Achterste draagarm eruit'}
		%img{:src => '/assets/header_pages/gallery/revisie/small_hy_11.png'}

	%a.revisie{:href => '/assets/header_pages/gallery/revisie/citroen_hy_12.png', :rel => 'group3', :title => 'Gereviseerde voorremmen'}
		%img{:src => '/assets/header_pages/gallery/revisie/small_hy_12.png'}

	%a.revisie{:href => '/assets/header_pages/gallery/revisie/citroen_hy_13.png', :rel => 'group3', :title => 'Achter remmen'}
		%img{:src => '/assets/header_pages/gallery/revisie/small_hy_13.png'}

	%a.revisie.last{:href => '/assets/header_pages/gallery/revisie/citroen_hy_14.png', :rel => 'group3', :title => 'Een kaal paard'}
		%img{:src => '/assets/header_pages/gallery/revisie/small_hy_14.png'}

%h2 Spuiten
.spuiten
	%a.spuiten{:href => '/assets/header_pages/gallery/spuiten/citroen_hy_1.png', :rel => 'group4', :title => 'Eerst strippen'}
		%img{:src => '/assets/header_pages/gallery/spuiten/small_hy_1.png'}

	%a.spuiten{:href => '/assets/header_pages/gallery/spuiten/citroen_hy_2.png', :rel => 'group4', :title => 'Vaak halen we het hele paard eruit'}
		%img{:src => '/assets/header_pages/gallery/spuiten/small_hy_2.png'}

	%a.spuiten{:href => '/assets/header_pages/gallery/spuiten/citroen_hy_3.png', :rel => 'group4', :title => 'Soms gaat het "strippen" wel erg ver'}
		%img{:src => '/assets/header_pages/gallery/spuiten/small_hy_3.png'}

	%a.spuiten{:href => '/assets/header_pages/gallery/spuiten/citroen_hy_4.png', :rel => 'group4', :title => 'Na het stralen...'}
		%img{:src => '/assets/header_pages/gallery/spuiten/small_hy_4.png'}

	%a.spuiten{:href => '/assets/header_pages/gallery/spuiten/citroen_hy_5.png', :rel => 'group4', :title => 'Zo je de verborgen schades'}
		%img{:src => '/assets/header_pages/gallery/spuiten/small_hy_5.png'}

	%a.spuiten{:href => '/assets/header_pages/gallery/spuiten/citroen_hy_6.png', :rel => 'group4', :title => 'In de lasmenie'}
		%img{:src => '/assets/header_pages/gallery/spuiten/small_hy_6.png'}

	%a.spuiten{:href => '/assets/header_pages/gallery/spuiten/citroen_hy_7.png', :rel => 'group4', :title => 'Open gewaaide deur herstellen'}
		%img{:src => '/assets/header_pages/gallery/spuiten/small_hy_7.png'}

	%a.spuiten{:href => '/assets/header_pages/gallery/spuiten/citroen_hy_8.png', :rel => 'group4', :title => 'Dan in de grondlak'}
		%img{:src => '/assets/header_pages/gallery/spuiten/small_hy_8.png'}

	%a.spuiten{:href => '/assets/header_pages/gallery/spuiten/citroen_hy_9.png', :rel => 'group4', :title => 'Afbouw in grondlak'}
		%img{:src => '/assets/header_pages/gallery/spuiten/small_hy_9.png'}

	%a.spuiten{:href => '/assets/header_pages/gallery/spuiten/citroen_hy_10.png', :rel => 'group4', :title => 'Carrosserie in kleur'}
		%img{:src => '/assets/header_pages/gallery/spuiten/small_hy_10.png'}

	%a.spuiten{:href => '/assets/header_pages/gallery/spuiten/citroen_hy_11.png', :rel => 'group4', :title => 'Losse delen apart spuiten'}
		%img{:src => '/assets/header_pages/gallery/spuiten/small_hy_11.png'}

	%a.spuiten{:href => '/assets/header_pages/gallery/spuiten/citroen_hy_12.png', :rel => 'group4', :title => 'Binnenzijde ook gespoten'}
		%img{:src => '/assets/header_pages/gallery/spuiten/small_hy_12.png'}

	%a.spuiten{:href => '/assets/header_pages/gallery/spuiten/citroen_hy_13.png', :rel => 'group4', :title => 'Kanariegeel'}
		%img{:src => '/assets/header_pages/gallery/spuiten/small_hy_13.png'}

	%a.spuiten.last{:href => '/assets/header_pages/gallery/spuiten/citroen_hy_14.png', :rel => 'group4', :title => 'Klaar om weg te rijden'}
		%img{:src => '/assets/header_pages/gallery/spuiten/small_hy_14.png'}
