%h1 Fotogallerij

%p
	De afgelopen jaren hebben wij een hele reeks [deel]revisies uitgevoerd. Wij zijn daarbij gewend om van alle fasen van zo'n revisie foto's te maken. Deze foto's geven een goed beeld van wat er gedurende zo'n proces allemaal gebeurt. Hiernaast een aantal foto's die illustratief zijn voor de manier waarop wij werken.