.front_company_offers

	.story
		= render "main_story"
	
.project_buttons
	
	.left.button
		.background
			= link_to image_tag("rails.png"), @remia
	
	.right.button
	
	.left.button
	
	.right.button
	
	.left.button
	
	.right.button
	
	.left.button
	
	.right.button
	
.lower_buttons
	= render "lower_buttons"