.image
	%img{:src => '/assets/offers/promotion/HV-promotion_1.png'}
	%img{:src => '/assets/offers/promotion/HV-promotion_2.png'}
	%img{:src => '/assets/offers/promotion/HV-promotion_3.png'}
	%img{:src => '/assets/offers/promotion/HV-promotion_4.png'}