%p
	%h2
		De HY en de
		%span#company_name HV

%p
	%h3
		De HY als verkoopwagen
	De laatste jaren is de populariteit van de Citroen HY als verkoopwagen sterk in opkomst. Iedere (startende) ondernemer die zijn of haar waren op straat of markt wil aanbieden, ontdekt al snel de voordelen van de HY:
	
	%ul
		%li
			Zeer aansprekende uitstraling
		%li
			Groot volume
		%li
			Lage instap
		%li
			Eenvoudig te modificeren naar individuele wensen (verkoopklep, verhoging, etc.)
	
%p
	Echter, omdat de bus in 1950 is ontworpen, kleven er ook een aantal nadelen aan.
	%ul
		%li
			De oude mechanische techniek beperkt de bedrijfszekerheid en het rijcomfort;
		%li
			Het mooi opknappen van de carrosserie is vanwege de karakteristieke ribbelplaat erg kostbaar;
		%li
			Aandacht en onderhoud blijft geboden;
	Voor de hedendaagse ondernemers, die de HY als verkoopwagen willen inzetten, zijn deze nadelen vaak een probleem. Wat zij eigenlijk willen is een moderne wagen die wel de lusten [uitstraling]van de HY heeft, maar niet de lasten van een oldtimer.
	
%p
	%h3
		De
		%span#company_name< HV
		, een HY 2.0
	
%p
	Met deze twee ogenschijnlijk tegenstrijdige eisen zijn wij als
	%span#company_name HY's mooi
	een half jaar geleden een innovatie traject gestart wat heeft geresulteerd in het ontwerp van een moderne HY: de
	%span#company_name HV
	\. Kenmerken van deze
	%span#company_name HV
	zijn:
	
	%ul
		%li
			De opbouw/carrosserie is niet van metaal, maar van kunststof delen.
		%li
			De buitenzijde is een natuurgetrouwe kopie van een HY, en heeft dus ook de uitstraling van een HY!
		%li
			Van binnen ziet de
			%span#company_name HV
			er uit als een moderne, glad afgewerkte verkoopwagen,
		%li
			De
			%span#company_name HV
			heeft geen eigen motor maar is een opbouw op een speciaal ontworpen onderstel (Het onderstel krijgt een standaard dissel voor op een trekhaak met fusee gestuurde wielen).
	
	En omdat we de		
	%span#company_name HV
	toch opnieuw moesten ontwerpen, konden we meteen een aantal zaken standaard inbouwen die bij de HY alleen als extra optie mogelijk zijn. Zo is de
	%span#company_name HV
	\:
	
	%ul
		%li
			22 cm verhoogd t.o.v. de HY , waarmee de stahoogte bijna 2 meter wordt,
		%li
			60 cm verlengd, waardoor extra vloeroppervlak beschikbaar is t.o.v. de standaard HY,
		%li
			Voorzien van een verkoopklep.

%p
	%h3
		De
		%span#company_name HV
		kent vele uitvoeringen

%p
	Het grote succes van de HY was destijds het feit dat je er zo gemakkelijk mee kon variëren. Of het nu ging om een extra verlenging, ander deuren of meer ramen, alles was mogelijk. Hierdoor zijn er in de loop der tijd talloze varianten gemaakt.
	%br
	Deze mogelijkheid om het standaard model aan te kunnen passen aan de wensen van de klant, hebben we in het ontwerp van de
	%span#company_name HV
	behouden. Zo kunt u bijvoorbeeld kiezen voor een extra verlengde
	%span#company_name HV
	of voor een verkoopklep links en/of rechts.
	%br
	Hieronder een aantal voorbeelden van mogelijke uitvoeringen.
	
%p
	%h3
		Een
		%span#company_name HV
		kopen?

%p
	Bent u geïnteresseerd in de mogelijkheden van de HV, neem dan gerust
	%a{:href => '/contact/index'} contact
	met ons op.
	
	
	
