%h1 Te Huur

%p
	Bij
	%span#company_name HY's mooi
	kunt u de volgende zaken huren:

%p
	%dt
		%b Een HY
	%dd
		Regelmatig wordt aan ons gevraagd of we niet een HY hebben die voor korte of langere tijd te huur is. Dat kan! Wij hebben sinds kort een HY klaargemaakt voor de verhuur. Het is een heel mooi exemplaar uit 1953 met een dubbele voorruit. Aan de zijkant is de HY voorzien van een grote verkoopklep. Richtprijzen voor huur van deze HY zijn:
		%li ½ dag:		€  250
		%li 1 dag:		€  400
		%li Midweek		€  1.500
		%li Weekend		€  1.000	
		Voor de juiste voorwaarden en prijzen moet u even met ons contact opnemen

%p
	%dt
		%b Een oprijwagen
	%dd
		U kunt bij ons ook een royale oprijwagen huren voor het vervoer van uw HY. Het is een Renault messenger B120 met een nuttig laadvermogen van 3.600 kg, dus ruim genoeg voor een volpakte HY. Richtprijzen voor huur van deze oprijwagen zijn:
		%li € 0,50 per km zonder chauffeur
		%li € 2,50 per km zonder chauffeur
		Ook hier geldt dat u voor de juiste voorwaarden en prijzen even contact met ons moet opnemen

%p
	%dt
		%b Gereedschap
	%dd
		Om goed aan uw HY te kunnen sleutelen is soms speciaal gereedschap nodig. Helaas kunt u dit gereedschap
		%b niet
		bij ons huren. In sommige gevallen is het echter wel mogelijk dat u tegen een kostenvergoeding de werkzaamheden bij ons in de werkplaats doet of laat doen. Ook hier weer; bel van te voren even.
