.left.button
	%img{:src => '/assets/offers/promotion/huur_rianne.png'}

.left.button
	%img{:src => '/assets/offers/promotion/renault.png'}

.left.button
	%img{:src => '/assets/offers/promotion/slagtrekker.png'}