%h1 Infobladen

%p
	Het reviseren van een oldtimer als de HY brengt een aantal specifieke zaken met zich mee,  die nogal afwijken van wat u wellicht gewend bij uw moderne auto. Over de belang-rijkste onderwerpen hebben wij voor u een aantal informatiebladen opgesteld:
	
	%p
		%dt
			%b De kwast of de spuit
		%dd
			Dit infoblad gaat over de voor- en nadelen van het laten spuiten van uw HY versus het zelf ter hand nemen van de roller of kwast.
			%a{:href => '/assets/disclaimer/disclaimer_1.pdf', :target => '_blank'}Meer
	%p
		%dt
			%b Draai die moer los…
		%dd
			Wat doen wij als de reparatie van uw HY tegenzit omdat bepaalde onderdelen niet los willen komen.
			%a{:href => '/assets/disclaimer/disclaimer_2.pdf', :target => '_blank'}Meer
	%p
		%dt
			%b Eerste beurt
		%dd
			Hier wat informatie over hoe te handelen na een ingrijpende reparatie/revisie.
			%a{:href => '/assets/disclaimer/disclaimer_3.pdf', :target => '_blank'}Meer
	%p
		%dt
			%b Geel passiveren
		%dd
			U kunt er voor kiezen om sommige onderdelen te laten passiveren. Wat dat is, staat in dit infoblad.
			%a{:href => '/assets/disclaimer/disclaimer_4.pdf', :target => '_blank'}Meer
	%p
		%dt
			%b Gasdrukveren
		%dd
			Al wij voor u een verkoopklep inbouwen, kunt u er voor kiezen om gasdrukveren te laten monteren. De extra veiligheidsaspecten van die gasdrukveren kunt u lezen in dit infoblad.
			%a{:href => '/assets/disclaimer/disclaimer_5.pdf', :target => '_blank'}Meer
	%p
		%dt
			%b Omhoog
		%dd
			%span#company_name HY's mooi
			raadt u aan de oorspronkelijke krik en krikpunten van uw HY niet te gebruiken. Wat dan wel, leest u in dit infoblad.
			%a{:href => '/assets/disclaimer/disclaimer_6.pdf', :target => '_blank'}Meer
	%p
		%dt
			%b Netjes in de lak
		%dd 
			Dit infoblad gaat over de hoeken en naden die niet gespoten kunnen worden.
			%a{:href => '/assets/disclaimer/disclaimer_7.pdf', :target => '_blank'}Meer
	%p
		%dt
			%b Onderhoudsinstructies
		%dd
			In de diverse hand- en instructieboekjes staan een hele reeks onderhoudspunten voor de HY. Dit infoblad zet ze overzichtelijk op een rijtje.
			%a{:href => '/assets/disclaimer/disclaimer_8.pdf', :target => '_blank'}Meer
	%p
		%dt
			%b Verborgen gebreken
		%dd
			Soms zitten de gebreken van uw HY diep verscholen. Dit infoblad geeft aan hoe wij van
			%span#company_name HY's mooi
			hiermee om gaan.
			%a{:href => '/assets/disclaimer/disclaimer_9.pdf', :target => '_blank'}Meer
	%p
		%dt
			%b Wat een mooie HY
		%dd
			Als u een mooie HY op het oog heeft, maar zelf niet kan beoordelen of HY wel zo goed is als het lijkt, kunnen wij u daarbij helpen.
			%a{:href => '/assets/disclaimer/disclaimer_10.pdf', :target => '_blank'}Meer