%h1 Infobladen

%p
	Het reviseren van een oldtimer als de HY brengt een aantal specifieke zaken met zich mee,  die nogal afwijken van wat u wellicht gewend bij uw moderne auto. Over de belangrijkste onderwerpen hebben wij voor u een aantal informatiebladen opgesteld:
	
	%p
		%dt <b>De kwast of de spuit</b>
		%dd Dit infoblad gaat over de voor- en nadelen van het laten spuiten van uw HY versus het zelf ter hand nemen van de roller of kwast
	%p
		%dt <b>Draai die moer los…</b>
		%dd Wat doen wij als de reparatie van uw HY tegenzit omdat bepaalde onderdelen niet los willen komen
	%p
		%dt <b>Eerste beurt</b>
		%dd Hier wat informatie over hoe te handelen na een ingrijpende reparatie/revisie
	%p
		%dt <b>Geel passiveren</b>
		%dd U kunt er voor kiezen om sommige onderdelen te laten passiveren. Wat dat is, staat in dit infoblad
	%p
		%dt <b>Gasdrukveren</b>
		%dd Al wij voor u een verkoopklep inbouwen, kunt u er voor kiezen om gasdrukveren te laten monteren. De extra veiligheidsaspecten van die gasdrukveren kunt u lezen in dit infoblad
	%p
		%dt <b>Omhoog</b>
		%dd <b id = "company_name">HY's mooi</b> raadt u aan de oorspronkelijke krik en krikpunten van uw HY niet te gebruiken. Wat dan wel, leest u in dit infoblad
	%p
		%dt <b>Netjes in de lak</b>
		%dd Dit infoblad gaat over de hoeken en naden die niet gespoten kunnen worden
	%p
		%dt <b>Onderhoudsinstructies</b>
		%dd In de diverse hand- en instructieboekjes staan een hele reeks onderhoudspunten voor de HY. Dit infoblad zet ze overzichtelijk op een rijtje
	%p
		%dt <b>Verborgen gebreken</b>
		%dd Soms zitten de gebreken van uw HY diep verscholen. Dit infoblad geeft aan hoe wij van <b id = "company_name">HY's mooi</b> hiermee om gaan.
	%p
		%dt <b>Wat een mooie HY</b>
		%dd Als u een mooie HY op het oog heeft, maar zelf niet kan beoordelen of HY wel zo goed is als het lijkt, kunnen wij u daarbij helpen.