.image
	%img{:src => '/assets/offers/for_sale/sheet_metal/plaatwerk_1.png'}
	%img{:src => '/assets/offers/for_sale/sheet_metal/plaatwerk_2.png'}
	%img{:src => '/assets/offers/for_sale/sheet_metal/plaatwerk_3.png'}