%p
	%h2 Nieuwe golfplaten Citroën HY

%p
	Begin dit jaar heeft
	%span#company_name HY's mooi
	besloten een aantal  "golfplaten" voor de HY in eigen beheer te laten produceren. Uitgangspunten daarbij waren:
	%li
		Zo perfect en origineel mogelijke maatvoering
	%li
		Alle golven en punten precies gelijk
	%li
		Scherpe basis van de golf [zie schets]
	%li
		De plaat moet ook als reparatie -of inzetdeel gebruikt kunnen worden op bestaand plaatwerk 

%p
	%h3 De platen
	We hebben gekozen voor twee platen en één golfpunt:
	%ol
		%li
			De korte plaat aan de linkerzijde van de bus, voor reservewiel compartiment. Deze plaat heeft mooie, enigszins spitse golfpunten. Het Citroen magazijnnummer van deze plaat is: H 821-97 Deze plaat in alle productiejaren hetzelfde gebleven
		%li
			Een universele reparatieplaat, die op drie plekken bruikbaar is:
			%ul
				%li
					De onderste rechter en linker golfplaat bij een 1 meter verlengde bus.  
				%li
					Universele reparatieplaat, omdat alle ribbels van begin tot eind doorlopen
				%li
					Met twee van deze platen kun je de 1,76 meter lange golfplaat aan de rechterzijde maken. Het Citroën magazijnnummer van deze plaat is HY 821-96A of HY 821270A 
	Voor deze platen hebben we de maatvoering overgenomen van de originele nog ongebruikte plaat uit de strategische voorraad van de Citroën HY vereniging Le Camion. Vanaf deze plaat zijn de maten van golf en eindpunten over drie dimensies, digitaal  ingemeten.
	
%p
	%h3 Specificaties van de plaat
	De plaat is -evenals het origineel- 0,8 mm dik, maar van betere [C5] kwaliteit. De plaat is van blank staal, zonder nabehandeling. Zo is de plaat beter te [punt]lassen en kan iedereen kiezen voor de -voor hem- beste afwerking. Doordat de oliefilm van het persen niet verwijderd is, is de plaat toch enigszins beschermd.
	
%p
	%h3 Met en zonder omega profiel
	Op de originele plaat H 821-97 is onderop een horizontaal koker- of omegaprofiel gepuntlast. Omdat het laten maken en aanbrengen van zo'n profiel weer extra kost en omdat het oude profiel soms nog bruikbaar is, hebben we  van deze plaat twee uitvoeringen laten maken:
	%li
		De originele uitvoering met omega 
	%li
		een variant zonder omega. [zie foto]
	In beide varianten zijn de omgevouwen zijkanten en uitsparingen voor het krikgat en het slotje van de reservewielklep aangebracht.

%p
	NB: Omdat de positionering van de gaten voor de kriksteunen bij diverse bussen nogal blijkt te verschillen, hebben we deze gaten niet voorgeboord. Men moet deze gaten zelf "in het werk" bepalen.

%p
	Voor vragen over de prijzen en verkoopadressen kunt u eem mail sturen naar
	%a{:href => 'mailto:info@hysmooi.nl'}info@hysmooi.nl
