%h1 Contact


%p
	U kunt op een aantal manieren contact met ons opnemen. De makkelijkste manier is om ons te mailen met eventuele vragen. Doe dat dan naar:
	%a{:href => 'mailto:info@hysmooi.nl'} info@hysmooi.nl
	%br
	Ook kunt u ons mobiel bereiken via het nummer:
	%b 0651582001
	Via dit nummer kunt u ook een afspraak maken om bij ons langs te komen!

/
	%span#temp
		%p
			Omdat Ben Boortman tijdelijk in Indonesië is en daar heel slecht te bereiken is, gelieve tot 22 november contact op te nemen via Menno van Heijningen. Zijn telefoon nummer is:
			%b
				0638931454
			en hij is ook te bereiken via:
			%a{:href => 'mailto:menno@hysmooi.nl' } menno@hysmooi.nl
	
%p
	Als u langs wilt komen, kan dat. Wel stellen we het op prijs als u eerst een afspraak maakt. Het adres van de werk-plaats is:
	
	%li 
		%span#company_name HY's mooi
	%li Middelblok 134 D
	%li 2831 BP, Gouderak

%p
	%a{:href => '/assets/directions.pdf', :target => '_blank' }
		Hier kunt u een uitgebreide routebeschrijving downloaden

.financial_info
	Kvk nummer: 24 314 585
	%br
	BTW nummer: NL076346201B02
	%br
	Rabobank: 1528.65.357
	%br 
	Ten name van: HY's mooi, Gouda
	%br