%h1 Contact

%p
	U kunt op een aantal manieren contact met ons opnemen. De makkelijkste manier is om ons te mailen met eventuele vragen. Doe dat dan naar:
	%a{:href => 'mailto:info@hysmooi.nl'} info@hysmooi.nl
	%br
	Ook kunt u ons mobiel bereiken via het nummer:
	%b 0651582001
	Via dit nummer kunt u ook een afspraak maken om bij ons langs te komen!
	
%p
	Als u langs wilt komen, kan dat. Wel stellen we het op prijs als u eerst een afspraak maakt. Het adres van de werk-plaats is:
	
	%li 
		%span#company_name HY's mooi
	%li Middelblok 134 D
	%li 2831 BP, Gouderak

%p
	%a{:href => '/assets/directions.pdf'}Hier kunt u een uitgebreide routebeschrijving downloaden

.financial_info
	Kvk nummer: 24 314 585
	%br
	BTW nummer: NL076346201B02
	%br
	Rabobank: 1528.65.357
	%br 
	Ten name van [tnv]: HY's mooi
	%br
	Gouda
	%br