%h1 Contact

%p
	U kunt op een aantal manieren contact met ons opnemen. De makkelijkste manier is om ons te mailen met eventuele vragen. Doe dat dan naar:
	= mail_to "info@hysmooi.nl"
	%br
	Ook kunt u ons mobiel bereiken via het nummer:
	%b 0651582001
	Via dit nummer kunt u ook een afspraak maken om bij ons langs te komen!
	
%p
	Als u langs wilt komen, kan dat. Wel stellen we het op prijs als u eerst een afspraak maakt. Ons adres is:
	
	%li Middelblok 134 D
	%li 2831 BP, Gouderak