@import 'configuration';

.lower_buttons {
	
	$margin: 10px;
	width: $stage-width;
	height: 35px;
	padding-top: 10px;
	float: left;
	background-color: #FFF1C7;
	
	.offer {			
		width: ($stage-width - (2 * $margin)) / 3;
		height: 35px;
		float: left;
	}
	
	.image {
		height: 1px;
	}
	
	.text {
		padding-top: 7px;
		text-align: center;
	}
	
	.companies {
		margin-right: $margin;
	}
	
	.consumers {
		margin-right: $margin;
	}
	
}