@import 'configuration';

.lower_buttons {
	
	$margin: 10px;
	width: $stage-width;
	height: 35px;
	padding-top: 10px;
	float: left;
//	background-color: #FFF1C7;
	
	.offer {			
		width: ($stage-width - (2 * $margin)) / 3;
		height: 28px;
		padding-top: 7px;
		color: #333;
		text-align: center;
		float: left;
		
		&:link { text-decoration: none; }
	}
	
	.companies {
		margin-right: $margin;
		background: url("overall/lower_button_companies.png");
		background-repeat: no-repeat;
	}
	
	.consumers {
		margin-right: $margin;
		background: url("overall/lower_button_consumers.png");
		background-repeat: no-repeat;
	}
	
	.for_sale {
		background: url("overall/lower_button_for_sale.png");
		background-repeat: no-repeat;
	}
	
}