body {
	
	.front_company_offers {
		
		width: 450px;
		height: 623px;
		margin-left: 33px;
		margin-top: 20px;
		background: url("overall/story_panel.jpg");
		background-repeat: no-repeat;
		
		.story {
			
			width: 395px;
			height: 600px;
			padding-top: 6px;
			padding-left: 14px;
			
		}
	}
}