body {
	
	.front_company_offers {
		
		width: 430px;
		height: auto;
		margin-left: 33px;
		margin-right: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
		float: left;
		background-color: #B4B4B4;
		
		.story {
			
			width: 402px;
			height: auto;
			padding-top: 6px;
			padding-left: 14px;
			padding-right: 14px;
			padding-bottom: 10px;
			float: left;
			
		}
	}
	
	.project_buttons {
		
		$pannel_width: 385px;
		$space: 50px;
		$button_width: 165px;
		height: auto;
		width: $pannel_width;
		margin-top: 20px;
		float: left;
		
		.button {
			
			height: $button_width;
			width: $button_width;
			margin-top: $space;
			float: left;
		}
		
		.left {
			margin-right: $space;
			background: url("companies/note_button_left.png");
			background-repeat: no-repeat;
		}
		
		.right {
			float: right;
			background: url("companies/note_button_right.png");
			background-repeat: no-repeat;
			
			.background {
				
			}
		}
		
	}
}