@import 'css3/css3_effects';

body {
	
	.front_company_offers {
		
		width: 430px;
		height: auto;
		min-height: 450px;
		margin-left: 33px;
		margin-right: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
		float: left;
		background-color: #B4B4B4;
		opacity: 0.85;
		filter:alpha(opacity = 85);
		
		.story {
			
			width: 402px;
			height: auto;
			padding-top: 6px;
			padding-left: 14px;
			padding-right: 14px;
			padding-bottom: 10px;
			float: left;
		}
	}
	
	.project_buttons {
		
		$pannel_width: 385px;
		$space: 50px;
		$button_width: 165px;
		height: auto;
		width: $pannel_width;
		margin-top: 20px;
		float: left;
		
		.button {
			
			height: $button_width;
			width: $button_width;
			margin-top: $space;
			float: left;
			
			a {
				overflow: scroll;
				
				&:link { color: #333; text-decoration: none; }
				&:visited { color: #333; }
			}
			
			.button_text {
				height: $button_width;
				padding: 40px 20px 50px 20px;
				text-align: left;
				
				overflow: hidden;
			}
		}
		
		.left {
			margin-right: $space;
			
			img {
				height: 100%;
				width: 100%;
			}
		}
		
		.right {
			float: right;
			
			img {
				height: 100%;
				width: 100%;
			}
		}
		
	}
	
	.offer_images {
		
		$pannel_width: 385px;
		$space: 50px;
		height: auto;
		width: $pannel_width;
		float: left;
		
		.image {
			max-width: 385px;
			
			img {
				width: 100%;
				margin-top: $space;
			}
		}
		
		.left {
			margin-right: $space;
			
			img {
				height: 100%;
				width: 100%;
			}
		}
		
		.right {
			float: right;
			
			img {
				height: 100%;
				width: 100%;
			}
		}
		
	}
}