body {
	
	.front_company_offers {
		
		width: 450px;
		height: 623px;
		margin-left: 33px;
		margin-top: 20px;
		float: left;
		background: url("overall/story_panel.jpg");
		background-repeat: no-repeat;
		
		.story {
			
			width: 395px;
			height: 600px;
			padding-top: 6px;
			padding-left: 14px;
			
		}
	}
	
	.project_buttons {
		
		$pannel_width: 385px;
		$space: 50px;
		$button_width: ($pannel_width - $space)/2;
		background-color: lime;
		height: 623px;
		width: $pannel_width;
		margin-top: 20px;
		float: left;
		
		.button {
			
			background-color: purple;
			height: $button_width/2;
			width: $button_width;
			margin-top: $space;
			float: left;
		}
		
		.left {
			margin-right: $space;
		}
		
	}
}