$header_page_color: #FFDD57;

body {
	
	.personnel_pages {
		height: auto;
		width: 100%;
		background-color: #FFDD57;
		overflow: hidden;
		
		.story {
			width: 402px;
			height: auto;
			min-height: 450px;
			margin: 20px 33px;
			padding: 6px 14px;
			float: right;
			background-color: #B4B4B4;
			opacity: 0.85;
			filter:alpha(opacity = 85);
			
			h1 {
				text-align: right;
			}
			
			span#right_outline {
				text-align: right;
			}
		}
		
		.image {
			max-width: 370px;
			height: auto;
			margin: 20px 0px 20px 33px;
			float: left;
			
			img {
				width: 100%;
			}
		}
	}
	
	
}