// Place all the styles related to the our_method controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.about_us {
	
	.front_header_pages {
		.story {
			width: 900px - (2 * (14px + 33px));
		}
	}
	
	ol {
		.roman {
			list-style-type: upper-roman;
		}
	}
	
	ul {
		.roman {
			list-style-type: circle;
		}
		.number {
			list-style-type: square;
		}
	}
	
	.inline_image {
		padding: 10px;
		padding-right: 0px;
		float: right;
		vertical-align: top;
	}
}