/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require fancybox
 *= require_tree .
*/

@import 'css3/css3_effects';

body{
	text-align: justify;
	
	.content {
		.front {
			height: auto;
			width: 100%;
			overflow: hidden;
			
			border: 2px solid rgba(51, 51, 51, 0.6);
			@include box-shadow(3px 3px 100px #333);

			.story {
				width: 390px;
				height: auto;
				min-height: 455px;
				margin: 20px 33px;
				padding: 6px 14px;
				float: right;
				background: rgba(180, 180, 180, 0.85);

				h1 {
					text-align: right;
				}
			}

			.image {
				max-width: 370px;
				height: auto;
				margin: 20px 0px 20px 33px;
				float: left;

				img {
					max-width: 100%;
				}
			}
		}

		.to_top {
			width: 100%;
			text-align: right;
		}
	}
}