@import 'configuration';
@import 'css3/css3_effects';

body.home {
	
	.front {
		width: 100%;
		height: 671px;
		margin-left: auto;
		margin-right: auto;
		background: url('home/HY_mooi_cover.png');
		background-repeat: no-repeat;
		
		border: none;
		@include box-shadow(0px 0px 0px #333);
		
		.story {
			width: 370px;
			height: 630px;
			float: left;
			background: rgba(180, 180, 180, 0.9);
			border: none;
			
			h1 {
				text-align: left;
			}
			
			p {
				font-size: 14px;
			}
			
			a { text-decoration: none; }
		}
		
		#announcement {
		  width: 300px;
		  
		  margin: 180px 70px 0px 0px;
		  padding: 20px;
		  background: rgba(0, 255, 0, 0.6);
		  text-align: left;
		  line-height: 23px;
		  float: right;
		  border: 3px solid rgb(0, 100, 0);
		  
		  a {
		    color: red;
		  }
		}
		
//		.button {
//			width: 150px;
//			height: 70px;
//			padding: 15px 20px;
//			background: rgb(255, 222, 50);
//			text-align: center;
//			vertical-align: middle;
//			
//			@include border-radius(10px);
//			@include transition(background, 0.2s);
//		
//			&:link {
//				text-decoration: none;
//			}
//			
//			&:hover {
//				background: rgb(127, 111, 25);
//			}
//		}
		
		.button {
			display: inline-block;
			margin: 10px;
			color: #333;
			@include border-radius(8px);
			@include box-shadow(0px 8px 0px rgb(64, 55, 26), 0px 15px 20px rgba(0, 0, 0, .35));
			@include transition(box-shadow .1s ease-in-out);
			
			span {
				display: inline-block;
				padding: 10px 30px;
				@include linear-gradient(linear, rgba(255, 237, 180, .8), rgba(255, 225, 128, .2));
				background-color: rgb(255, 219, 104);
				@include border-radius(8px);
				@include box-shadow(inset 0 -1px 1px rgba(255, 255, 255, .15));
				text-shadow: 0 -1px 1px rgba(127, 110, 52, .7);
				@include transition(background-color .2s ease-in-out, transform .1s ease-in-out);
				
				&:hover {
					background-color: #FFE17F;
			    text-shadow: 0 -1px 1px rgba(127, 110, 52, .9), 0 0 5px rgba(255, 255, 255, .8);
				}
				
				&:active {
					@include transform(translate(0, 4px));
				}
			}
			
			&:active, &:focus {
				@include box-shadow(0 8px 0 rgb(64, 55, 26), 0 12px 10px rgba(0, 0, 0, .3));
			}
		}
		
		.left {
			margin-left: 30px;
			float: left;
		}
		
		.right {
			float: right;
		}
	}
	
	.company_offers {
		$margin: 10px;
		$padding: 9px;
		$extra_padding: 110px;
		width: $stage-width;
		height: 180px;
		margin-top: $margin;
		
		.offer {			
			width: ($stage-width - (2 * $margin)) / 3;
			height: 180px;
			color: #333;
			float: left;
			
			&:link { text-decoration: none; }
		}
		
		.text {
			padding-left: $padding;
			padding-right: $padding;
			padding-bottom: $padding;
		}
		
		.head {
			padding-top: 60px;
		}
		
		.companies {
			margin-right: $margin;
			background: url("home/companies_button.png");
			background-repeat: no-repeat;
		}
		
		.consumers {
			margin-right: $margin;
			background: url("home/consumers_button.png");
			background-repeat: no-repeat;
		}
		
		.for_sale {
			background: url("home/for_sale_button.png");
			background-repeat: no-repeat;
		}
	}
	
	#new_offers {
	  width: 100%;
	  float: left;
     
   	.button {
         width: 100%;
   		display: inline-block;
   		margin: 30px 0 40px;
   		color: #333;
         text-decoration: none;
   		@include border-radius(8px);
   		@include box-shadow(0px 8px 0px rgb(64, 55, 26), 0px 15px 20px rgba(0, 0, 0, .35));
   		@include transition(box-shadow .1s ease-in-out);
		
   		.text {
            padding: 5px 10px;
            text-align: center;
   			//@include linear-gradient(linear, rgba(255, 237, 180, .8), rgba(255, 225, 128, .2));
   			@include linear-gradient(linear, rgba(158, 204, 122, .8), rgba(118, 193, 58, .2));
   			//background-color: rgb(255, 219, 104);
   			background-color: rgb(71, 117, 35);
   			@include border-radius(8px);
   			@include box-shadow(inset 0 -1px 1px rgba(255, 255, 255, .15));
   			//text-shadow: 0 -1px 1px rgba(127, 110, 52, .7);
   			text-shadow: 0 -1px 1px rgba(51, 66, 39, .7);
   			@include transition(background-color .2s ease-in-out, transform .1s ease-in-out);
			
   			&:hover {
   			   background-color: rgb(87, 142, 43);
               //text-shadow: 0 -1px 1px rgba(127, 110, 52, .9), 0 0 5px rgba(255, 255, 255, .8);
               text-shadow: 0 -1px 1px rgba(61, 79, 47, .9), 0 0 5px rgba(255, 255, 255, .8);
   			}
			
   			&:active {
   				@include transform(translate(0, 4px));
   			}
   		}
		
   		&:active, &:focus {
   			@include box-shadow(0 8px 0 rgb(64, 55, 26), 0 12px 10px rgba(0, 0, 0, .3));
   		}
   	}
	  
	  #new_background {
	    width: 100%;
	    height: 628px + 45px;
	    background: $new-background-color;
	    //background-size: 900px;
	    border-top: 1px solid green;
	    position: absolute;
	    left: 0px;
	    z-index: -10;
	  }
	  
	  #new_holder {
	  
  	  #new_story {
	    //height: 650px;
  	    float: left;
  	    padding: 10px;
  	    background: rgba(110, 200, 40, 0.5);
  	    border: 1px solid rgba(0, 128, 0, 0.7);
  	  }
  	  
  	  #new_buttons {
    		$margin: 10px;
    		$padding: 9px;
    		$extra_padding: 110px;
    		width: $stage-width;
    		height: 180px;
    		margin-top: $margin;
    		float: left;

    		.offer {			
    			width: ($stage-width - (2 * $margin)) / 3;
    			height: 180px;
    			color: #333;
    			float: left;

    			&:link { text-decoration: none; }
    		}
    		
    		.text {
    			padding-left: $padding;
    			padding-right: $padding;
    			padding-bottom: $padding;
    			text-align: right;
    		}

    		.head {
    			padding-top: 60px;
    		}

    		#new-1 {
    			margin-right: $margin;
    			background: url("home/red_hy_2.png");
    			background-repeat: no-repeat;
            position: relative;
            
            #hv-picture {
               width: 42px;
               height: 40px;
               position: absolute;
               left: 55px;
               top: 63px;
            }
    		}

    		#new-2 {
    			margin-right: $margin;
    			background: url("home/blue_hy_2.png");
    			background-repeat: no-repeat;
    		}

    		#new-3 {
    			background: url("home/green_hy_2.png");
    			background-repeat: no-repeat;
    		}
    		
    		
  		}
  	  
	  }
	  
	  
	}
}