@import 'configuration';
@import 'css3/css3_effects';

body.home {
	
	.front {
		width: 100%;
		height: 671px;
		margin-left: auto;
		margin-right: auto;
		background: url("home/HY_mooi_cover.png");
		background-repeat: no-repeat;
		
		border: none;
		@include box-shadow(0px 0px 0px #333);
		
		.story {
			width: 400px;
			height: 600px;
			float: left;
			background: rgba(180, 180, 180, 0.9);
			border: none;
			
			h1 {
				text-align: left;
			}
			
			p {
				font-size: 14px;
			}
			
			a { color: #333; text-decoration: none; }
		}
		
		.button {
			width: 150px;
			height: 70px;
			padding: 15px 20px;
			background: rgb(255, 222, 50);
			text-align: center;
			vertical-align: middle;
			
			@include border-radius(10px);
			@include transition(background, 0.2s);
		
			&:link {
				text-decoration: none;
			}
			
			&:hover {
				background: rgb(127, 111, 25);
			}
		}
		
		.left {
			margin-left: 30px;
			float: left;
		}
		
		.right {
			float: right;
		}
	}
	
	.company_offers {
		$margin: 10px;
		$padding: 9px;
		$extra_padding: 110px;
		width: $stage-width;
		height: 180px;
		margin-top: $margin;
		
		.offer {			
			width: ($stage-width - (2 * $margin)) / 3;
			height: 180px;
			color: #333;
			float: left;
			
			&:link { text-decoration: none; }
		}
		
		.text {
			padding-left: $padding;
			padding-right: $padding;
			padding-bottom: $padding;
		}
		
		.head {
			padding-top: 60px;
		}
		
		.companies {
			margin-right: $margin;
			background: url("home/companies_button.png");
			background-repeat: no-repeat;
		}
		
		.consumers {
			margin-right: $margin;
			background: url("home/consumers_button.png");
			background-repeat: no-repeat;
		}
		
		.for_sale {
			background: url("home/for_sale_button.png");
			background-repeat: no-repeat;
		}
	}
}