@import 'configuration';
@import 'css3/css3_effects';

body.home {
	
	.front {
		width: 100%;
		height: 671px;
		margin-left: auto;
		margin-right: auto;
		background: url("home/HY_mooi_cover.png");
		background-repeat: no-repeat;
		
		border: 2px solid rgba(51, 51, 51, 0.6);
		@include box-shadow(3px 3px 100px #333);
		
		.story {
			width: 400px;
			height: 600px;
			padding-top: 26px;
			padding-left: 45px;
			float: left;
			
			p {
				font-size: 14px;
			}
			
			a { color: #333; text-decoration: none; }
		}
		
		.button {
			$top_padding: 12px;
			
			width: 200px;
			height: 100px - $top_padding;
			margin-left: 50px;
			padding-top: $top_padding;
			color: #333;
			text-align: center;
			vertical-align: middle;
			
			float: left;
			
			background: url("home/try-out_button.png");
			background-repeat: no-repeat;
			background-position: center top;
		
			&:link { text-decoration: none; }
		}
	}
	
	.company_offers {
		$margin: 10px;
		$padding: 9px;
		$extra_padding: 110px;
		width: $stage-width;
		height: 180px;
		margin-top: $margin;
		
		.offer {			
			width: ($stage-width - (2 * $margin)) / 3;
			height: 180px;
			color: #333;
			float: left;
			
			&:link { text-decoration: none; }
		}
		
		.text {
			padding-left: $padding;
			padding-right: $padding;
			padding-bottom: $padding;
		}
		
		.head {
			padding-top: 60px;
		}
		
		.companies {
			margin-right: $margin;
			background: url("home/companies_button.png");
			background-repeat: no-repeat;
		}
		
		.consumers {
			margin-right: $margin;
			background: url("home/consumers_button.png");
			background-repeat: no-repeat;
		}
		
		.for_sale {
			background: url("home/for_sale_button.png");
			background-repeat: no-repeat;
		}
	}
}