@import 'configuration';
@import 'main_catagories';
@import 'lower_buttons';

body.partial_revision {
	
	.content {
		height: auto;
		margin-bottom: 10px;
		float: left;
		background-color: #78C588;
	}
}