@import 'configuration';
@import 'main_categories';
@import 'lower_buttons';

body.promotion {
	
	.content {
		height: auto;
		float: left;
		
		.front {
			height: auto;
			margin-bottom: 10px;
			float: left;
			background-color: #FFDD57;
			
			.story {
				float: left;
				
				h1 {
					text-align: left;
				}
			}
		}
	}
}
