.left.button
	%img{:src => '/assets/offers/for_sale/rental/huur_rianne.png'}

.left.button
	%img{:src => '/assets/offers/for_sale/rental/renault.png'}

.left.button
	%img{:src => '/assets/offers/for_sale/rental/slagtrekker.png'}