%a.left.button.rental{:href => '/assets/offers/for_sale/rental/huur_rianne.png', :rel => 'group'}
	%img{:src => '/assets/offers/for_sale/rental/huur_rianne.png'}

%a.right.button.rental{:href => '/assets/offers/for_sale/rental/rental_3.png', :rel => 'group'}
	%img{:src => '/assets/offers/for_sale/rental/rental_3_small.png'}
	
%a.left.button.rental{:href => '/assets/offers/for_sale/rental/rental_4.png', :rel => 'group'}
	%img{:src => '/assets/offers/for_sale/rental/rental_4_small.png'}
	
%a.right.button.rental{:href => '/assets/offers/for_sale/rental/rental_5.png', :rel => 'group'}
	%img{:src => '/assets/offers/for_sale/rental/rental_5_small.png'}
	
%a.left.button.rental{:href => '/assets/offers/for_sale/rental/rental_6.png', :rel => 'group'}
	%img{:src => '/assets/offers/for_sale/rental/rental_6_small.png'}
		
%a.right.button.rental{:href => '/assets/offers/for_sale/rental/rental_9.png', :rel => 'group'}
	%img{:src => '/assets/offers/for_sale/rental/rental_9_small.png'}