.front_company_offers

	.story
		= render "main_story"
	
.project_buttons
	
	.left.button
	
	.button
	
	.left.button
	
	.button
	
	.left.button
	
	.button
	
	.left.button
	
	.button
	
.lower_buttons
	= render "lower_buttons"