.beam
	.logo.image
		= link_to image_tag('overall/hysmooi_logo.png'), :controller => 'home', :action => 'index'
	
	%a.header-button.first{:href => '/home'}
		Home

	%a.header-button{:href => '/gallery/index'}
		Fotogalerij

	%a.header-button{:href => '/about_us/index'}
		Wat doen wij

	%a.header-button{:href => '/disclaimer/index'}
		Infobladen

	%a.header-button{:href => '/links/index'}
		Links

	%a.header-button.last{:href => '/contact/index'}
		Contact

	%a.facebook.image{:href => 'http://www.facebook.com/HysMooi'}
		= image_tag('overall/facebook_logo.png')