.logo.image
	= link_to image_tag("overall/hysmooi_logo.png"), :controller => 'home', :action => 'index'

.separator.image
	= image_tag("overall/separator.png")

<a class="button image" href="/home">
<img src="/assets/overall/home.png" alt="home" />
</a>

<a class="button image" href="/gallery/index">
<img src="/assets/overall/gallery.png" alt="home" />
</a>

<a class="button image" href="/about_us/index">
<img src="/assets/overall/about_us.png" alt="home" />
</a>

<a class="button image" href="/disclaimer/index">
<img src="/assets/overall/disclaimer.png" alt="home" />
</a>

<a class="button image" href="/links//index">
<img src="/assets/overall/links.png" alt="home" />
</a>

<a class="button image" href="/contact/index">
<img src="/assets/overall/contact.png" alt="home" />
</a>
	
