.logo.image
	= link_to image_tag("overall/hysmooi_logo.png"), :controller => 'home', :action => 'index'

.separator.image
	= image_tag("overall/separator.png")

<a class="button image" href="/">
<img src="/assets/overall/home.png" alt="home" />
</a>

<a class="button image" href="/">
<img src="/assets/overall/who_are_we.png" alt="home" />
</a>

<a class="button image" href="/">
<img src="/assets/overall/what_do_we_do.png" alt="home" />
</a>

<a class="button image" href="/">
<img src="/assets/overall/disclaimer.png" alt="home" />
</a>

<a class="button image" href="/">
<img src="/assets/overall/links.png" alt="home" />
</a>

<a class="button image" href="/">
<img src="/assets/overall/contact.png" alt="home" />
</a>

/ .button.image
/ 	= link_to image_tag("overall/home.png"), :controller => 'home', :action => 'index'
/ 
/ .button.image
/ 	= image_tag("overall/who_are_we.png")
/ 
/ .button.image
/ 	= image_tag("overall/what_do_we_do.png")
/ 
/ .button.image
/ 	= image_tag("overall/disclaimer.png")
/ 
/ .button.image
/ 	= image_tag("overall/links.png")
/ 
/ .button.image
/ 	= image_tag("overall/contact.png")
	
