.companies.offer
	
	.image
		= link_to image_tag("overall/lower_button_companies.png"), :controller => 'marketing', :action => 'index'
	
	.text
		%b Voor bedrijven
	
.consumers.offer
	
	.image
		= link_to image_tag("overall/lower_button_consumers.png"), :controller => 'total_revision', :action => 'index'
	
	.text
		%b Voor particulieren
	
.for_sale.offer
	
	.image
		= link_to image_tag("overall/lower_button_for_sale.png"), :controller => 'partial_revision', :action => 'index'
	
	.text
		%b Te koop