<a class="companies offer" href="/companies/index">
%b Voor bedrijven
</a>

<a class="consumers offer" href="/consumers/index">
%b Voor particulieren
</a>

<a class="for_sale offer" href="/for_sale/index">
%b Te koop
</a>