<a class="companies offer" href="/marketing/index">
%b Voor bedrijven
</a>

<a class="consumers offer" href="/total_revision/index">
%b Voor particulieren
</a>

<a class="for_sale offer" href="/partial_revision/index">
%b Te koop
</a>