%a.companies.offer{:href => '/hv/index'}
	%b HE & HV

%a.consumers.offer{:href => '/more_electric/index'}
	%b Carrosserie aanpassingen

%a.for_sale.offer{:href => '/new_parts/index'}
	%b
		(Nieuwe) Onderdelen en plaatwerk