%a.companies.offer{:href => '/hv/index'}
	%b Moderne HY's

%a.consumers.offer{:href => '/more_electric/index'}
	%b Carrosserie aanpassingen

%a.for_sale.offer{:href => '/new_parts/index'}
	%b
		Moderne oplossingen